<div class="editPhotosModal modal fade" id="editPhotosModal" tabindex="-1" role="dialog" aria-labelledby="editPhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Edit Photos
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>


      </div>

      <div class="modal-body">

        <div class="col-12 p-0 mt-4 order-4 ">
          <form {{action "submitPhotoSettings" on="submit"}}>

            {{#each model.profileImages as |image|}}
              <div class="d-inline-block">

                <img src="{{image.file_url}}" height="100" width="100">
                <div class="form-check">
                  {{#if image.profile_image}}
                    <div class="btn btn-success form-check-label"> Profile Photo </div>
                  {{else}}
                    <button class="btn btn-primary form-check-label" {{action "setImageAsProfileImage" image}}> Make Profile Photo </button>
                  {{/if}}
                  <br>
                  <label class="form-check-label">
                    {{#unless image.profile_image}}
                      <form {{action "setMembersOnlyPropertyOnImage" on="change"}}>
                        Members Only
                        <label class="switch float-right">
                          {{input type="checkbox" checked=image.members_only}}
                          <span class="slider"></span>
                        </label>
                      </form>
                    {{/unless}}
                  </label>
                  <br>
                  <button class="btn btn-outline-dark form-check-label" {{action this.userFileManager.deleteFileFromUser image}}> Detele </button>
                </div>
              </div>
            {{/each}}

            <!-- <div class=text-right>
              <button type="submit" class={{this.photoSubmitBtn}}>{{this.photoSubmitText}}</button>
            </div> -->

          </form>

        </div>
        <br>

        <h5>Select files from your computer</h5>
        {{file-upload
          fileUploadAttribute="profileImages"
          model=model
        }}
        <br> <br>
      </div>




    </div>
  </div>
</div>
