<div class="editPhotosModal modal fade" id="editPhotosModal" tabindex="-1" role="dialog" aria-labelledby="editPhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
            Edit Photos
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>


      </div>

          <div class="modal-body">

            <div class="col-12 p-0 mt-4 order-4 ">
              <form {{action "submitPhotoSettings" on="submit"}}>

            {{#each this.userPhotos as |userPhoto|}}
            <div class="d-inline-block">

                <img src="{{userPhoto.src}}" height="100" width="100">
                <div class="form-check">
                  <label class="form-check-label">
                    {{input type="radio" class="form-check-input" name="profilePhotoRadio" checked=profilePhoto}}
                    Profile Photo
                  </label>
                          <br>
                  <label class="form-check-label">
                    {{input type="checkbox" class="form-check-input" name="privatePhotoCheckbox" checked=this.userPhoto.id}}
                    Members Only
                  </label>


                </div>
              </div>
            {{/each}}

            <div class=text-right>
              <button type="submit" class={{this.photoSubmitBtn}}>{{this.photoSubmitText}}</button>
            </div>

          </form>

          </div>
          <br>

     <h5>Select files from your computer</h5>
     <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
       <div class="form-inline">
         <div class="form-group">
           <input type="file" name="files[]" id="js-upload-files" multiple>
         </div>
         <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
       </div>
     </form>

  <br>  <br>
          </div>




    </div>
  </div>
</div>
