<h4>
  {{#if signupform}}
    <b>Sign up</b>     or <a href="" {{action 'toggleSignUp'}}><u>Log in</u></a>
  {{else}}
    <b>Log in</b>      or <a href="" {{action 'toggleSignUp'}}><u>Sign up</u></a>
  {{/if}}


</h4>
<br>

{{#if currentUser.errorMessage}}
  <p class="alert alert-danger">
    {{#each currentUser.errorMessage as |error|}}
    - {{error.detail}}<br>
    {{/each}}
  </p>
{{/if}}

<form>
  {{#if signupform}}
    {{#if currentUser.signupSuccess}}
      <p class="alert alert-success">
        Account created! Check your email to confirm and activate your account.
      </p>
    {{/if}}

    <div class="form-group-sm">
      <label for="username">Username</label>
      {{input type="login" class="form-control" id="username" value=inputusername}}
    </div>
    <br>
    <div class="form-group-sm">
      <label for="email">Email address</label>
      {{input type="email" class="form-control" id="email" value=inputemailaddress}}
    </div>
    <br>
    <div class="form-group-sm">
      <label for="password">Password</label>
      {{input class="form-control" id="password" value=inputpassword}}
    </div>
    <br>
    <div class="form-group-sm">
      <label for="pwconfirm">Confirm Password</label>
      {{input type="password" class="form-control" id="pwconfirm" value=inputpasswordconfirm}}
    </div>
    <div class="form-check mb-3">
      <label class=" form-check-label">
        <br>
        <input type="checkbox" class=" form-check-input">
      </label>
    </div>
    <button type="button" class="signup-button btn btn-primary btn-block" {{action "signup"}}>Sign me up!</button>

{{else}}

    <div class="form-group-sm">
      <label for="username">Username / Email</label>
      {{input class="form-control" id="username" value=inputusername placeholder="UserTester1"}}
    </div>
    <br>
    <div class="form-group-sm">
      <label for="password">Password</label>
      {{input class="form-control" id="password" value=inputpassword placeholder="12345670"}}
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-block" {{action "authenticate"}}><div>Log In</div></button>

  {{/if}}

</form>
