<div class="loginModal modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="loginmodal">
          {{#if signupform}}
            <a href="" {{action 'toggleSignUp'}}><u>Log in</u></a>     or <b>Sign up</b>
          {{else}}
            <b>Log in</b>      or <a href="" {{action 'toggleSignUp'}}><u>Sign up</u></a>
          {{/if}}
        </h4>
      </div>

        <form>
          <div class="modal-body">

          <div class="form-group-sm">
            <label for="inputusername">Email</label>
            {{input class="form-control" value=inputUsername id="inputusername" placeholder="Enter Email"}}
          </div>
          {{#if signupform}}
            <br>
            <div class="form-group-sm">
              <label for="inputemailAddress">Email address</label>
              {{input type="email" class="form-control" value=inputemailaddress id="inputemailAddress" placeholder="Enter email address"}}
            </div>
          {{/if}}
            <br>
            <div class="form-group-sm">
              <label for="inputpassword">Password</label>
              {{input class="form-control" value=inputPassword id="inputpassword" placeholder="Enter Password"}}
            </div>
          {{#if signupform}}
            <br>
            <div class="form-group-sm">
              <label for="inputpasswordconfirm">Confirm Password</label>
              {{input type="password" class="form-control" value=inputpasswordconfirm id="inputpasswordconfirm" placeholder="Password"}}
            </div>
            <label class="form-check-label">
              <br>
              <input type="checkbox" class="form-check-input">
              Yes, I am over the age of 18 and agree to the <a href="/terms" target="_blank"><u>terms of service</u></a>
            </label>
            <br>
            <br>

            <button type="button" class="signup-button btn btn-primary btn-block" data-dismiss="modal" {{action "signup"}}>Sign me up!</button>
          {{else}}
            <br>
            <button type="button" class="btn btn-primary btn-block" data-dismiss="" {{action "authenticate"}}><div>Log In</div></button>
          {{/if}}
          {{#if errorMessage}}
            {{errorMessage}}
          {{/if}}
        </div>
      </form>

    </div>
  </div>
</div>
