
<div class="container">

  {{#if this.currentUser.user.isContracted}}
  <div class="row m-0">
    <div class="col mb-2">
      <h2>Your Dashboard</h2>
    </div>
  </div>
  <div class="row m-0">

        <div class="col-xs-12 col-md-4 px-5 order-md-12">
          {{#if this.currentUser.user.broadcaster}}
           (These do nothing)
              <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream with minimal set up right from your web browser."  >Quick<br>Stream</button>
              <button class="btn btn-primary btn-block btn-lg d-none d-sm-block py-3 mb-3" title="Stream with minimal set up right from your web browser."  >Quick Stream</button>

              <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream via RTMP software, better for gaming streams but requires some set up."   >Advanced <br>Stream</button>
              <button class="btn btn-primary btn-block btn-lg d-none d-sm-block py-3" title="Stream via RTMP software, better for gaming streams but requires some set up."  >Advanced Stream</button>
              <hr class="splash-horizontal-rule mt-4">

            {{/if}}
              <div class="row mt-4" >
                <div class="col  p-1 mb-2">
                  {{#link-to "p" (lower-case session.data.authenticated.username) class="w-100 btn btn-secondary"}}
                      <span class="fa fa-edit"></span><br>
                      Profile
                {{/link-to}}

                </div>
                <div class="col   p-1 mb-2">
                  {{#link-to "account.messages" class="w-100 btn btn-secondary"}}
                      <span class="fa fa-inbox"></span><br>
                      Inbox
                {{/link-to}}
                </div>
              </div>
              <div class="row">
                <div class="col  p-1 mb-2">
                  {{#link-to "account" class="w-100 btn btn-secondary"}}
                      <span class="fa fa-cog"></span><br>
                      Account
                {{/link-to}}
                </div>
                <div class="col  p-1 mb-2">
                  {{#link-to "help" class="w-100 btn btn-secondary"}}
                      <span class="fa fa-question"></span><br>
                      Help
                {{/link-to}}
                </div>
              </div>


    </div>
    {{#if this.currentUser.user.isContracted}}
  <div class="col-xs-12 col-md-8 order-md-1">

      You're Affiliate link is coming soon!
      <br><br>

    {{#if this.currentUser.user.broadcaster}}

        <div class="card mb-3 " id="streamSettingsAccordion">
          <div class="card-heading accordion-toggle" data-toggle="collapse" data-parent="#streamSettingsAccordion" data-target="#streamSettings">
            <h4 class="card-title"><span class="fa fa-cog" aria-hidden="true"></span>&nbsp; Stream Settings</h4>
          </div>
        <div id="streamSettings" class="card-collapse show">
          <div class="card-body">
                  <div class=" row pb-3">
                    <div class="col-xs-12 col-sm-6 pb-2">

                      <button class="btn btn-block btn-secondary" id="showStreamKeyBtn" type="button"{{action "showStreamKey"}}>Show Stream Key</button>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                      {{confirm-input  type="reset" title="Reset?" button-title="Reset Stream Key" onConfirm=(action "resetStreamKey")}}

                    </div>

                  </div>

                  <div class="mb-3" {{action "copyStreamKeyToClipboard"}}>
                    {{textarea class="form-control"  id="streamKeyDisplayID" value=streamKeyDisplay readonly="true"}}
                    <div class={{this.keyCopySuccess}}>
                      <div class="float-right text-success">
                          <span class="fa fa-check "></span>Copied to Clipboard
                        </div>
                    </div>
                    <div class={{this.newCopySuccess}}>
                        <div class="mt-0 float-right text-success">
                          <span class="fa fa-check "></span>New Stream Key Saved
                       </div>
                    </div>
                  </div>

                <hr class="splash-horizontal-rule mt-4">
                <form {{action "submitStreamSettings" on="submit"}}>
                  <h5>Interaction Settings</h5>

                <div class="form-check mt-2">
                  <label class="form-check-label">
                    {{input type="checkbox" class="form-check-input" checked=model.userPublicDatum.allowTips}}
                    Enable Tipping.
                  </label>
                </div>

              </div>

              <div class="text-right pt-3">
                <button type="submit" class={{this.streamSettingSubmitBtn}}>{{this.streamSettingSubmitText}}</button>
              </div>
            </form>

          </div>
        </div>
      </div>

    {{/if}}


                  <div class="card mb-3 " id="notesAccordion">

                      <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#notesAccordion" data-target="#notesCollapse">
                        <h4 class="card-title"><span class="fa fa-bar-chart" aria-hidden="true"></span>&nbsp; Private Notepad</h4>

                      </div>
                      <div id="notesCollapse" class="card-collapse collapse">
                        <div class="card-body">

                          <form {{action "submitUserNotes" on="submit"}}>
                            {{textarea class="form-control"  id="privateUserNotes" maxlength="1000" value=model.user.privateUserNotes placeholder="Only you can see this notepad."}}
                            <div class="text-right pt-3">
                              <button type="submit" class={{this.notesSubmitBtn}}>{{this.notesSubmitText}}</button>

                            </div>
                          </form>

                          </div>
                      </div>
                    </div>
                    {{#if this.currentUser.user.developer}}

                      <div class="card mb-3 " id="developerAccordion">
                          <div class="card-heading accordion-toggle" data-toggle="collapse" data-parent="#developerAccordion" data-target="#developerCollapse">
                            <h4 class="card-title"><span class="fa fa-gamepad" aria-hidden="true"></span>&nbsp; My Games</h4>

                          </div>
                          <div id="developerCollapse" class="card-collapse show">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-6">
                                  <button class="btn btn-secondarysecondary btn-block btn-lg d-block d-sm-none" title="View the API and Documentation"  >View<br>API</button>
                                  <button class="btn btn-secondary btn-block btn-lg d-none d-sm-block" title="View the API and Documentation"  >View API</button>
                                </div>
                                <div class="col-6">
                                  <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Upload Your Game"   >Upload <br>Game</button>
                                  <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Upload Your Game"  >Upload Game</button>
                                </div>
                              </div>
                                <hr class="splash-horizontal-rule">

                                <div class="row">
                                  <div class="col-xs-12 col-sm-6">
                                    <div class="col-xs-8">
                                      Game 1
                                    </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="col-xs-8">
                                  Game 2
                                  </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="col-xs-8">
                                    Game 3
                                  </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="col-xs-8">
                                    Game 4
                                  </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                              </div>
                              </div>
                          </div>
                        </div>

                      {{/if}}

  </div>

  {{/if}}
</div>


  {{else}}
  <div class="row m-0">
    <div class="col-12 col-sm-6 mb-3">
      {{#link-to "account" class="btn btn-primary btn-block btn-lg d-block d-sm-none"}}
          <span class="fa fa-cog mr-3"></span>
          Account
    {{/link-to}}
    {{#link-to "account" class="btn btn-primary btn-block btn-lg d-none d-sm-block"}}
        <span class="fa fa-cog mr-3"></span>
        Account
  {{/link-to}}
    </div>
    <div class="col-12 col-sm-6">
      {{#link-to "home" class="btn btn-primary btn-block btn-lg d-block d-sm-none"}}
          <span class="fa  fa-video-camera mr-3"></span>
          Browse <br> Broadcasters
    {{/link-to}}
    {{#link-to "home" class="btn btn-primary btn-block btn-lg d-none d-sm-block"}}
        <span class="fa  fa-video-camera mr-3"></span>
        Browse Broadcasters
  {{/link-to}}

    </div>
  </div>
  {{/if}}

</div>
{{outlet}}
