
  {{#if loginState.isContracted}}
  <div class="row m-0">
    <div class="col mb-2">
      <h2>Your Dashboard</h2>
    </div>
  </div>
  <div class="row m-0">

        <div class="col-xs-12 col-md-4 px-5 order-md-12">
          {{#if loginState.broadcaster}}
              <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream with minimal set up right from your web browser."  >Quick<br/>Stream</button>
              <button class="btn btn-primary btn-block btn-lg d-none d-sm-block py-3 mb-3" title="Stream with minimal set up right from your web browser."  >Quick Stream</button>

              <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream via RTMP software, better for gaming streams but requires some set up."   >Advanced <br/>Stream</button>
              <button class="btn btn-primary btn-block btn-lg d-none d-sm-block py-3" title="Stream via RTMP software, better for gaming streams but requires some set up."  >Advanced Stream</button>
              <hr class="splash-horizontal-rule mt-4">

            {{/if}}
              <div class="row mt-4" >
                <div class="col  p-1 mb-2">
                  <a href="/profile" class="w-100 btn btn-secondary "  ><span class="fa fa-edit"></span> <br/>Edit Profile</a>
                </div>
                <div class="col   p-1 mb-2">
                  <a href="/account/messages" class="w-100 btn btn-secondary"  ><span class="fa fa-inbox"></span> <br/>Inbox</a>
                </div>
              </div>
              <div class="row">
                <div class="col  p-1 mb-2">
                  <a   href="/account" class=" w-100 btn btn-secondary"  ><span class="fa fa-cog"></span> <br/>Account</a>
                </div>
                <div class="col  p-1 mb-2">
                  <a   href="/help" class=" w-100 btn btn-secondary "  ><span class="fa fa-question"></span> <br/>Help</a>
                </div>
              </div>


    </div>
  {{#if loginState.isContracted}}
  <div class="col-xs-12 col-md-8 order-md-1">

    {{#if loginState.broadcaster}}

        <div class="card mb-3 " id="streamSettingsAccordion">
          <div class="card-heading accordion-toggle" data-toggle="collapse" data-parent="#streamSettingsAccordion" data-target="#streamSettings">
            <h4 class="card-title"><span class="fa fa-cog" aria-hidden="true"></span>&nbsp; Stream Settings</h4>
          </div>
        <div id="streamSettings" class="card-collapse show">
          <div class="card-body">
                  <div class=" row pb-3">
                    <div class="col-xs-12 col-sm-6 pb-2">
                      <button class="btn btn-block btn-secondary" id="showStreamKeyBtn" type="button"{{action "showStreamKey"}}>Show Stream Key</button>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <button class="btn btn-block btn-dark" id="resetStreamKeyBtn"{{action "resetStreamKey"}}><span class="fa fa-refresh" id="resetStreamKeyIcon" aria-hidden="true"></span>&nbsp;Reset Key</button>

                    </div>
                  </div>

                  <div class="mb-3" {{action "copyStreamKeyToClipboard"}}>
                    {{textarea class="form-control"  id="streamKeyDisplayID" value=streamKeyDisplay readonly="true"}}
                    <div class="float-right text-success d-none" id="keyCopySuccess">
                          <span class="fa fa-check "></span>Copied to Clipboard
                    </div>

                  </div>

                <hr class="splash-horizontal-rule mt-4">

                <div class="form-check mt-2">
                  <label class="form-check-label">
                    {{input type="checkbox" class="form-check-input" name="enableTips" checked=enableTips}}
                    Enable Tipping.
                  </label>
                </div>
        

              <div class="text-right pt-3">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>

          </div>
        </div>
      </div>

    {{/if}}


                  <div class="card mb-3 " id="statsAccordion">

                      <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#statsAccordion" data-target="#statsCollapse">
                        <h4 class="card-title"><span class="fa fa-bar-chart" aria-hidden="true"></span>&nbsp; Stats</h4>

                      </div>
                      <div id="statsCollapse" class="card-collapse collapse">
                        <div class="card-body">
                          woo stats congrats on the stats
                          </div>
                      </div>
                    </div>
                    {{#if loginState.developer}}

                      <div class="card mb-3 " id="developerAccordion">
                          <div class="card-heading accordion-toggle" data-toggle="collapse" data-parent="#developerAccordion" data-target="#developerCollapse">
                            <h4 class="card-title"><span class="fa fa-gamepad" aria-hidden="true"></span>&nbsp; My Games</h4>

                          </div>
                          <div id="developerCollapse" class="card-collapse show">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-6">
                                  <button class="btn btn-secondarysecondary btn-block btn-lg d-block d-sm-none" title="View the API and Documentation"  >View<br/>API</button>
                                  <button class="btn btn-secondary btn-block btn-lg d-none d-sm-block" title="View the API and Documentation"  >View API</button>
                                </div>
                                <div class="col-6">
                                  <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Upload Your Game"   >Upload <br/>Game</button>
                                  <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Upload Your Game"  >Upload Game</button>
                                </div>
                              </div>
                                <hr class="splash-horizontal-rule">

                                <div class="row">
                                  <div class="col-xs-12 col-sm-6">
                                    <div class="col-xs-8">
                                      Game 1
                                    </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="col-xs-8">
                                  Game 2
                                  </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="col-xs-8">
                                    Game 3
                                  </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="col-xs-8">
                                    Game 4
                                  </div>
                                  <div class="col-xs-4">
                                    <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                  </div>
                                </div>
                              </div>
                              </div>
                          </div>
                        </div>

                      {{/if}}

  </div>

  {{/if}}
</div>


  {{else}}
  <div class="row m-0">
    <div class="col-12 col-sm-6 mb-3">
      <a href="/account" class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Account Settings"><span class="fa fa-cog mr-3"></span>Account<br/>Settings</a>
      <a href="/account" class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Account Settings"><span class="fa fa-cog mr-3"></span>Account Settings</a>
    </div>
    <div class="col-12 col-sm-6">
      <a href="/home " class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="My Profile"><span class="fa fa-video-camera mr-3"></span>Browse<br/>Broadcasters</a>
      <a href="/home" class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="My Profile"><span class="fa fa-video-camera mr-3"></span>Browse Broadcasters</a>

    </div>
  </div>
  {{/if}}


{{outlet}}
