<div class="row m-0 mb-3 ml-2">
  <div class="col-8 col-sm-6 col-md-5 col-lg-4 p-0 pt-1 pl-1">
    <h2>Account Settings</h2>
  </div>
  <div class="col-4 p-0 userTypeBadges">
    {{#if loginState.affiliate}}
      <div>Affiliate<span class="fa fa-bullhorn pl-1"></span></div>
    {{/if}}
    {{#if loginState.broadcaster}}
      <div>Broadcaster<span class="fa fa-video-camera pl-1"></span></div>
    {{/if}}
    {{#if loginState.developer}}
      <div>Developer<span class="fa fa-file-code-o pl-1"></span></div>
    {{/if}}
  </div>
</div>
<div class="row m-0">
    <div class="col-xs-12 col-sm-7 col-md-8 ">
      {{#if loginState.isContracted}}
      <a class="btn btn-primary btn-block d-block d-sm-none" href="/account/dashboard" role="button">View Dashboard &nbsp;<span class="fa fa-dashboard" aria-hidden="true"></span></a>
      {{/if}}
      <a class="btn btn-primary btn-block d-block d-sm-none mb-3" href="/profile" role="button">Edit Profile &nbsp;<span class="fa fa-edit" aria-hidden="true"></span></a>
          {{#if loginState.isContracted}}
              <div  class="card mb-3" id="payoutSettingsAccordion">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#payoutSettingsAccordion" data-target="#collapsePayoutSettings">
                    <h3 class="card-title">Payout Settings</h3>
                  </div>
                  <div id="collapsePayoutSettings" class="card-collapse collapse">
                    <div class="card-body">
                            <h5> Select Payout Method:</h5>

                  <form {{action "submitPayoutSettings" on="submit"}}>
                      <div  class="form-check form-check-inline w-100 pb-3">
                        <div class=" w-50 mx-0 payout-method btn btn-block btn-light "  {{action "checkBitcoin" "inputPayoutCheck"}}>
                          {{radio-button value='Mailed Check' id="inputPayoutCheck" name=inputPayoutType checked=inputPayoutType}}
                          <label class="form-check-label" for="inputPayoutType">Mailed Check</label>
                        </div>
                          <div class=" w-50 mx-0 mt-0 payout-method btn btn-block btn-light " {{action "checkBitcoin" "inputPayoutBitcoin"}}>
                            {{radio-button value='Bitcoin' id="inputPayoutBitcoin" name=inputPayoutType checked=inputPayoutType}}
                            <label class="form-check-label" for="inputPayoutType">Bitcoin</label>
                          </div>
                      </div>
                      {{#if payoutIsBitcoin}}
                      <div class="form-group" id="bitcoinAddressInputDiv">
                        <label for="inputbitcoinaddress">Bitcoin Address</label>
                        {{input type="text" class="form-control" value=inputbitcoinaddress }}
                      </div>
                      {{else}}
                      {{/if}}

                          <div class="form-group">
                            <label for="inputaddress1">Address Line 1</label>
                            {{input type="text" class="form-control" value=inputaddress1 }}
                          </div>


                          <div class="form-group">
                            <label for="inputaddress2">Address Line 2</label>
                            {{input type="text" class="form-control" value=inputaddress2 }}
                          </div>
                          <div class="form-group">
                            <label for="inputCity">City</label>
                            {{input type="text" class="form-control" value=inputCity }}
                          </div>
                          <div class="form-group">
                            <label for="inputRegion">State / Province / Region</label>
                            {{input type="text" class="form-control" value=inputRegion }}
                          </div>
                          <div class="form-group">
                            <label for="inputZipcode">Zip / Postal Code</label>
                            {{input type="text" class="form-control" value=inputZipcode }}
                          </div>
                          <div class="form-group">
                          <label for="inputCountry">Country</label>
                          {{#power-select
                                selected=inputCountry
                                id="inputCountry"
                                options=countriesList
                                onchange=(action (mut inputCountry))
                                oninput=(action "checkLength")
                                as |name|}}
                                {{name}}
                              {{/power-select}}
                          </div>
                    <br>

                        <div class=text-right>
                          <button type="submit" id="payoutsettingsubmit" class="btn btn-primary">Save</button>
                      </div>
                        </form>
                    </div>
                  </div>
              </div>
          {{/if}}

          <div  class="card mb-3"   id="emailSettingsAccordion">
              <div class="card-heading accordion-toggle " data-toggle="collapse" data-parent="#emailSettingsAccordion" data-target="#collapseEmailSettings">
                   <h3 class="card-title">Notification Settings</h3>
              </div>
          <div id="collapseEmailSettings" class="card-collapse show">
            <div class="card-body">
                <h5>Email Subscriptions </h5>
                <form {{action "submitEmailSettings" on="submit"}}>

                <div class="form-check">
                  <label class="form-check-label">
                    <!-- <input type="checkbox" class="form-check-input" checked={{value}} onchange={{action "settingChanged" value="target.value"}}> -->
                    <!-- <input type="checkbox" class="form-check-input" checked={{sendEmailFavoritesOnlineCB}}> -->
                    {{input type="checkbox" class="form-check-input" name="sendEmailFavoritesOnline" checked=sendEmailFavoritesOnline}}
                      Favorite Broadcasters streaming notification.
                  </label>
                </div>

              <div class="form-check">
                <label class="form-check-label">
                  <!-- <input type="checkbox" class="form-check-input" checked> -->
                  {{input type="checkbox" class="form-check-input" name="sendEmailSiteNews" checked=sendEmailSiteNews}}
                    Monthly  Newsletter
                  </label>
              </div>




            <div class=text-right>
                <button type="submit" id="emailsettingsubmit" class="btn btn-primary">Save</button>
              </div>

              </form>
              </div>
          </div>
        </div>

        <div  class="card mb-3" id="siteSettingsAccordion">
            <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#siteSettingsAccordion" data-target="#collapseSiteSettings">
              <h3 class="card-title"> Site and Search Settings</h3>
        </div>
        <div id="collapseSiteSettings" class="card-collapse collapse">
          <div class="card-body">
            <h5> Default Search Settings</h5>
                Show:
                <form {{action "submitDisplaySettings" on="submit"}}>
                  <div  class="form-check  w-100 pb-3">
                    <div class=" "  {{action "checkThis" "inputDefaultAll"}}>
                      {{radio-button value='All' id="inputDefaultAll" name=inputDefaultSearch checked=inputDefaultSearch}}
                      <label class="form-check-label" for="inputDefaultSearch">All broadcasters</label>
                    </div>
                      <div class=" "  {{action "checkThis" "inputDefaultFemale"}}>
                        {{radio-button value='Female' id="inputDefaultFemale" name=inputDefaultSearch checked=inputDefaultSearch}}
                        <label class="form-check-label" for="inputDefaultSearch">Female broadcasters only</label>
                      </div>
                      <div class=""  {{action "checkThis" "inputDefaultMale"}}>
                        {{radio-button value='Male' id="inputDefaultMale" name=inputDefaultSearch checked=inputDefaultSearch}}
                        <label class="form-check-label" for="inputDefaultSearch">Male broadcasters only</label>
                      </div>
                  </div>

                      <hr class="splash-horizontal-rule">
                <h5> Site Graphics Style</h5>

                <div class="form-check">
                  <label class="form-check-label">
                    <!-- <input type="checkbox" class="form-check-input" checked> -->
                    {{input type="checkbox" class="form-check-input" name="darkMode" checked=darkMode}}
                      Dark mode
                    </label>
              </div>
              <hr class="splash-horizontal-rule">
            <h5>Set Time Zone</h5>

              <div class="form-group">
                {{input type="text" class="form-control" value=inputTimeZone }}
              </div>

                    <div class=text-right>
                    <button type="submit" id="sitesettingsubmit" class="btn btn-primary">Save</button>
                  </div>
              </form>
                </div>
            </div>
          </div>
            <div class="card mb-3"  id="securitySettingsAccordion">
              <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#securitySettingsAccordion" data-target="#collapseSecuritySettings">
                  <h3 class="card-title">Change Password or Email</h3>
              </div>
              <div id="collapseSecuritySettings" class="card-collapse collapse">
                <div class="card-body">
                        <form>
                          <h5>Change your email address</h5>
                        <div class="form-group">
                          <label for="inputemailAddress">New Email address</label>
                          {{input type="password" class="form-control" value=inputnewemailAddress }}

                        </div>
                        <div class="form-group">
                          <label for="inputnewemailAddressConfirm">Confirm New Email address</label>
                          {{input type="password" class="form-control" value=inputnewemailAddressConfirm }}

                        </div>

                          <h5>Change your password</h5>
                          <div class="form-group">
                            <label for="inputpassword">New Password</label>
                            {{input type="password" class="form-control" value=inputnewpassword }}

                          </div>
                          <div class="form-group">
                            <label for="inputpasswordconfirm">Confrim New Password</label>
                            {{input type="password" class="form-control" value=inputpasswordconfirm }}
                          </div>

                                <hr class="splash-horizontal-rule">
                          <div class="form-group">
                            <label for="inputpassword">Current Password</label>
                            {{input type="password" class="form-control" value=inputpassword }}
                          </div>

                          <div class=text-right>
                            <button type="submit" id="securitysettingsubmit" class="btn btn-primary">Save</button>
                        </div>
                      </form>
                      </div>
                  </div>
                </div>



          </div>

            <div class="col-xs-12 col-sm-5 col-md-4">
              {{#if loginState.isContracted}}
              <a class="btn btn-primary btn-block d-none d-sm-block mb-4" href="/account/dashboard" role="button">View Dashboard &nbsp;<span class="fa fa-dashboard" aria-hidden="true"></span></a>
              {{/if}}
                  <a class="btn btn-primary btn-block d-none d-sm-block mb-4" href="/profile" role="button">Edit Profile &nbsp;<span class="fa fa-edit" aria-hidden="true"></span></a>

                {{#if loginState.broadcaster}}
                {{else}}
                <a class="btn btn-primary btn-block d-none d-sm-block" href="/account/broadcaster" role="button">Become a Broadcaster &nbsp;<span class="fa fa-video-camera" aria-hidden="true"></span></a>
                {{/if}}
                {{#if loginState.developer}}
                {{else}}
                <a class="btn btn-primary btn-block d-none d-sm-block" href="/account/developer" role="button">Become a Developer &nbsp;<span class="fa fa-file-code-o" aria-hidden="true"></span></a>
                {{/if}}
                {{#if loginState.isPlayer}}
                <a class="btn btn-primary btn-block d-none d-sm-block" href="/account/affiliate" role="button">Become an Affiliate &nbsp;<span class="fa fa-bullhorn" aria-hidden="true"></span></a>
                {{/if}}

                {{#if loginState.broadcaster}}
                {{else}}
                <a class="btn btn-primary btn-block d-block d-sm-none" href="/account/broadcaster" role="button">Become a Broadcaster &nbsp;<span class="fa fa-video-camera" aria-hidden="true"></span></a>
                {{/if}}
                {{#if loginState.developer}}
                {{else}}
                <a class="btn btn-primary btn-block d-block d-sm-none" href="/account/developer" role="button">Become a Developer &nbsp;<span class="fa fa-file-code-o" aria-hidden="true"></span></a>
                {{/if}}
                {{#if loginState.isPlayer}}
                <a class="btn btn-primary btn-block d-block d-sm-none" href="/account/affiliate" role="button">Become an Affiliate &nbsp;<span class="fa fa-bullhorn" aria-hidden="true"></span></a>
                {{/if}}
                <div class="close-account-btn">
                <a class="btn btn-outline-dark btn-block " href="/account/close"><u>Close Account</u></a>
              </div>
              </div>

</div>


{{outlet}}
