{{! Header}}
<div class="row m-0 form-inline d-flex justify-content-end">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 px-sm-1 mb-3">
    <div class="input-group">
      {{input enter=(action "search") type="text" class="form-control" placeholder=searchPlaceholder value=searchInput}}
      <span class="input-group-append">
        <button class="btn btn-primary fa fa-search" type="button" {{action "search"}}></button>
      </span>
    </div>
  </div>
</div>

{{! Broadcaster display}}
<div class="row m-0">
  {{#each model as |broadcaster|}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 px-sm-1 mb-4">
      {{#link-to "p" (lower-case broadcaster.username) title=broadcaster.username class="text-decoration-none broadcaster-browser-result"}}
        <div class="force-sixteen-nine">
          <div class="content border border-dark d-flex justify-content-center">
            <img height="100%" max-height="100%" max-width="100%" src="{{if broadcaster.profilePhotoPath broadcaster.profilePhotoPath "/streamnails/usericon.svg"}}">
          </div>
        </div>
        <div class="broadcaster-detail mt-1">
          <div class="text-nowrap text-truncate" title="{{if broadcaster.onlineStatus broadcaster.channelTopic "OFFLINE"}}">
            <strong class={{if broadcaster.onlineStatus "" "text-muted"}}>
              {{if broadcaster.onlineStatus broadcaster.channelTopic "OFFLINE"}}
            </strong>
          </div>
          <div class="text-muted"><small>{{broadcaster.username}}</small></div>
          {{#each broadcaster.userCustomTags as |tag index|}}
            {{#if (lt index 3)}}
              <span class="mt-1 px-2 badge badge-pill badge-light">
                {{tag}}
              </span>
            {{/if}}
          {{/each}}
        </div>
      {{/link-to}}
    </div>
  {{else}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 px-sm-1 mb-3 card">
      <div class="card-body">
        Nobody here but us chickens
      </div>
    </div>
  {{/each}}
</div>
