
{{! Header}}
<div class="row m-0">
  <div class="col-xs-11 col-sm-6">
    <h4 {{action "reloadBrowsePageTest"}}>Broadcasters</h4>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
        <div class="input-group pb-2">
          {{input enter=(action "search") type="text" class="form-control" placeholder=searchPlaceholder value=searchInput}}
          <span class="input-group-append">
            <button class="btn btn-primary fa fa-search" type="button" {{action "search"}}></button>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
<br>

{{! Broadcaster display}}
<div class="row m-0">

  {{#each model as |broadcaster|}}
    <div class="col-xs-12 col-sm-3 p-2 mb-2">
      {{#link-to "p" (lower-case broadcaster.username) title=broadcaster.username}}
        <div class="text-center status-border {{if broadcaster.onlineStatus "online" "offline"}}">
            <div class="text-light gradient-border-interior p-0">
              <img class="" width="100%" max-width="320" height="180" src="{{if broadcaster.profilePhotoPath broadcaster.profilePhotoPath "/streamnails/usericon.svg"}}">
              <div class="p-1">
                  <div class="d-flex justify-content-between">{{broadcaster.username}}
                 </div>
                {{#if broadcaster.onlineStatus}}
                  <div class="text-left" title="{{broadcaster.channelTopic}}">
                    <small>{{broadcaster.channelTopic}}</small>
                  </div>
                {{/if}}
              </div>
          </div>
        </div>
      {{/link-to}}
    </div>
  {{else}}
    No results
  {{/each}}

</div>
