      <form>
        <div class="modal-body">
          <h4>Get More</h4>
          <div class="  btn-block btn-group-vertical" data-toggle="buttons">
            <label class="btn btn-secondary px-2   ">
              {{radio-button name="basic-example" value=100 checked=creditAmount}}
              100
            </label>
            <label class="btn btn-secondary px-2   ">
              {{radio-button name="basic-example" value=250 checked=creditAmount}}
              250
            </label>
            <label class="btn btn-secondary px-2   ">
              {{radio-button name="basic-example" value=500 checked=creditAmount}}
              500
            </label>
            <label class="btn btn-secondary px-2   ">
              {{radio-button name="basic-example" value=750 checked=creditAmount}}
              759
            </label>
            <label class="btn btn-secondary px-2   ">
              {{radio-button name="basic-example" value=1000 checked=creditAmount}}
              1000
            </label>
          </div>
          <br> <br>
          <br>
          <button type="button" class="  btn btn-primary btn-block" data-dismiss="modal" {{action "purchaseCredits"}}>Buy Credits</button>
          <br>
        </div>
      </form>
