{{!-- Chat user context menu, hidden until a username is clicked --}}
<div class={{this.chatUserMenu}} id="chatUserMenu">
  <a href="/p/{{lower-case chatUserMenuUsername}}" target="_blank" class=" round-top-left-corner-only btn btn-primary pt-1" title="Open users profile in new tab"><span class="fa fa-user pr-2"> </span>{{chatUserMenuUsername}}</a>
  <button class=" round-top-right-corner-only btn btn-primary float-right pt-1" title="Close" {{action "closeChatUserMenu"}}><span class="fa fa-close"></span></button>
  <div class="input-group">
    <div class="input-group-prepend w-50 mr-0 ">
      <a href="/account/messages?toUser={{chatUserMenuUsername}}" class="btn btn-block btn-primary sharp-bottom-corners" title="Message"><span class="fa fa-envelope"></span></a>
    </div>
    <div class="input-group-append w-50">
      <button class="btn btn-block btn-primary sharp-bottom-corners " title="Kick and Block this user" {{action "blockUser"}}><span class="fa fa-ban"></span></button>
    </div>
  </div>
</div>{{!-- End of context menu display --}}

{{!-- Chat Navigation Tabs --}}
<BsTab @customTabs={{true}} as |tab|>
  <BsNav @type="tabs" as |nav|>
    <nav.item @active={{bs-eq tab.activeId "Chat"}}><a role="tab" onclick={{action tab.select "Chat"}}>Chat</a></nav.item>
    <nav.item @active={{bs-eq tab.activeId "Users"}}><a role="tab" onclick={{action "getChannelChatUserList" tab.select "Users"}}>Users<span class="badge">{{chatChannelUserCount}}</span></a></nav.item>
  </BsNav>
  <div class="tab-content">
    <tab.pane @id="Chat" @title="Chat">
      <div class="topic-input">
        {{#if (eq session.data.authenticated.username model.username)}}

          {{!--  Topic Input Field--}}
          <form {{action "updateChannelTopic" on="submit"}} name="channelTopic" autocomplete="off">
            <div class="input-group">
              {{input value=channelTopic type="text" autocomplete="off" name="lastpass-disable-search" style="border-radius:0px" class="form-control" placeholder="Enter a Room Topic" data-lpignore="true" }}
              <button type="submit" name="submitTopic" class="input-group-btn btn btn-primary chat-input-submit">Set Topic</button>
            </div>
          </form>{{!-- /Topic Input Field --}}

        {{/if}}
      </div>
      <div class="card-body chat-body">

        {{!-- Chat messages --}}
        <ul id="messages">
          {{#each chatMessagesList as |chatMessage|}}
            {{#if chatMessage.systemMessage}}
              <li><b>{{chatMessage.data}}</b></li>
            {{else if chatMessage.topicMessage}}
              <li><b>New topic: {{chatMessage.data}}</b></li>
            {{else}}
              <li>
                <span class="chat-username" onclick={{action "openChatUserMenu"}}>
                  <b>{{chatMessage.chatUsername}}</b>
                </span>
                {{chatMessage.data}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div> {{!-- /Chat messages --}}
      {{!-- Chat Input Field --}}
      <form {{action "sendUserMessage" on="submit"}} class="chat-input" name="userMessage" autocomplete="off">
        <div class="input-group">
          {{input value=userMessage type="text" autocomplete="off" name="lastpass-disable-search" style="border-radius:0px" class="form-control" placeholder="Chat!" data-lpignore="true" }}
          <button type="submit" name="submitmsg" class="input-group-btn btn btn-primary chat-input-submit">Send</button>
        </div>
      </form>{{!-- /Chat Input Field --}}



    </tab.pane>
    <tab.pane @id="Users" @title="Users">
      {{!-- Users List Tab Content --}}
      <div role="tabpanel" class="tab-pane" id="userstab">
        <div class="card-body users-body">
          <ul id="users">
            {{! Display users}}
            {{#each chatUsersList as |chatUser|}}
              <li>
                <span class="chat-username" onclick={{action "openChatUserMenu"}}>
                  <b>{{chatUser}}</b>
                </span>
              </li>
            {{/each}}
            {{! Display guests, if any}}
            {{#if (gt chatUsersListGuestCount 0)}}
              <li>
                <span>
                  {{#if (gt chatUsersListGuestCount 1)}}
                    {{chatUsersListGuestCount}} spies
                  {{else}}
                    1 spy
                  {{/if}}
                </span>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </tab.pane>
  </div>
</BsTab>








{{yield}}
