<div class={{if showButton "d-flex" "d-none"}}>
  {{#if (eq this.type "donation")}}
    <div class="btn btn-primary px-2 input-group-append h-2-4r" {{action "openConfirm"}}>
      {{button-title}}<i class="fa fa-cubes ml-2 lh-14"></i>
    </div>
  {{else if (eq this.type "reset")}}
    <div class="btn btn-block btn-primary" {{action "openConfirm"}}>
      <span class={{if resetIconSpin "fa fa-refresh fa-spin" "fa fa-refresh"}} aria-hidden="true"></span>&nbsp;
      {{button-title}}
    </div>
  {{else if (eq this.type "delete")}}
    <div class="btn btn-block btn-dark" {{action "openConfirm"}}>
      <span class="fa fa-trash-o" aria-hidden="true"></span>&nbsp;
      {{button-title}}
    </div>
  {{else}}
    <div class="btn btn-primary border-0 px-2" {{action "openConfirm"}}>
      {{button-title}}
    </div>
  {{/if}}
</div>

<div class="mr-1">
  <div class={{if showConfirm "d-flex" "d-none"}}>
    {{#if titleDetail}}
      <div class="p-2 m-0">{{title}} {{titleDetail}} {{titleEnd}}</div>
    {{else}}
      <div class="p-2 m-0">{{title}}</div>
    {{/if}}
    <button class="btn btn-success border-0 mr-2" {{action "confirmInput"}}>
      <span class="fa fa-check"></span>
    </button>
    <button class="btn btn-danger border-0 " {{action "cancelInput"}}>
      <span class="fa fa-times"></span>
    </button>
  </div>
</div>
