<h4>
  Edit Photos
</h4>

<div class="col-12 p-0 mt-4 order-4">
  <h5>Select files from your computer</h5>
  {{file-upload
    model=(mut model)
    onUploaded=(action "onUploaded")
  }}
  {{model.length}} of 30 images uploaded
  <div>
    {{#each model as |file index|}}

      <div class="d-inline-block border text-center {{if file.isSaving "border-danger" "border-dark"}} border-3 rounded">
        {{#if file}}
          {{#light-box
            href=file.fileUrl
            data-lightbox="edit"
            data-title="Your uploads"
            data-alt="Test alt"
            data-class=""
            inlineImage=false
          }}
            <img src="{{file.fileUrlSmall}}"height="100" max-width="100" class="mb-2">
          {{/light-box}}


          <div>
            {{#if (eq profilePhotoPath file.fileUrl)}}
              <div class="btn btn-success mb-2"> Profile Photo </div>
            {{else}}
              <button class="btn btn-primary mb-2" {{action "setImageAsProfileImage" file}}> Make Profile Photo </button>
            {{/if}}
            <br>
              {{#unless file.profileImage}}

                <form {{action "setMembersOnlyPropertyOnFile" file on="change"}}>
                    <div class="custom-control custom-checkbox mb-2">
                      {{input type="checkbox" class="custom-control-input" id=(concat "membersOnly" index) checked=file.membersOnly}}
                      <label class="custom-control-label" for="membersOnly{{index}}">    Members Only  </label>
                  </div>

                </form>
              {{/unless}}
              {{confirm-input type="delete" title="Delete?" button-title="Delete" onConfirm=(action "deleteFile" file)}}
            </div>


        {{else}}
          Loading...
        {{/if}}
      </div>

    {{else}}
      <div class="text-center">Images will appear here after they're uploaded</div>
    {{/each}}
  </div>
</div>
