<h4>
  Edit Photos
</h4>

<div class="col-12 p-0 mt-4 order-4">
  <h5>Select files from your computer</h5>
  {{file-upload
    model=(mut model)
    onUploaded=(action "onUploaded")
  }}
  {{model.length}} of 30 images uploaded
  <div>
    {{#each model as |file|}}

      <div class="d-inline-block border {{if file.isSaving "border-danger" "border-dark"}} border-3 rounded">
        {{#if file}}
          {{#light-box
            href=file.fileUrl
            data-lightbox="edit"
            data-title="Your uploads"
            data-alt="Test alt"
            data-class=""
            inlineImage=false
          }}
            <img src="{{file.fileUrlSmall}}" width="100">
          {{/light-box}}
          <div class="form-check">
            {{#if (eq profilePhotoPath file.fileUrl)}}
              <div class="btn btn-success form-check-label"> Profile Photo </div>
            {{else}}
              <button class="btn btn-primary form-check-label" {{action "setImageAsProfileImage" file}}> Make Profile Photo </button>
            {{/if}}
            <br>
            <label class="form-check-label">
              {{#unless file.profileImage}}
                <form {{action "setMembersOnlyPropertyOnFile" file on="change"}}>
                  Members Only
                  <label class="switch float-right">
                    {{input type="checkbox" checked=file.membersOnly}}
                    <span class="slider"></span>
                  </label>
                </form>
              {{/unless}}
            </label>
            <br>
                    {{confirm-input type="delete" title="Delete?" button-title="Delete" onConfirm=(action "deleteFile" file)}}

          </div>
        {{else}}
          Loading...
        {{/if}}
      </div>

    {{else}}
      <div class="text-center">Images will appear here after they're uploaded</div>
    {{/each}}
  </div>
</div>
