<div class="editPhotosModal modal fade" id="editPhotosModal" tabindex="-1" role="dialog" aria-labelledby="editPhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">
          Edit Photos
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="col-12 p-0 mt-4 order-4">
          <h5>Select files from your computer</h5>
          {{file-upload
            model=(mut model)
            onUploaded=(action "onUploaded")
          }}

          {{#each model as |file|}}

            <div class="d-inline-block border {{if file.isSaving "border-danger" "border-dark"}} border-3 rounded">
              {{#if file}}
                <img src="{{file.fileUrl}}" height="100" width="100">
                <div class="form-check">
                  {{#if (eq profilePhotoPath file.fileUrl)}}
                    <div class="btn btn-success form-check-label"> Profile Photo </div>
                  {{else}}
                    <button class="btn btn-primary form-check-label" {{action "setImageAsProfileImage" file}}> Make Profile Photo </button>
                  {{/if}}
                  <br>
                  <label class="form-check-label">
                    {{#unless file.profileImage}}
                      <form {{action "setMembersOnlyPropertyOnFile" file on="change"}}>
                        Members Only
                        <label class="switch float-right">
                          {{input type="checkbox" checked=file.membersOnly}}
                          <span class="slider"></span>
                        </label>
                      </form>
                    {{/unless}}
                  </label>
                  <br>
                  <button class="btn btn-outline-dark form-check-label" {{action "deleteFile" file}}> Detele </button>
                </div>
              {{else}}
                Loading...
              {{/if}}
            </div>

          {{else}}
            <div class="text-center">Images will appear here after they're uploaded</div>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>
