<h4>
  {{#if signupform}}
    <b>Sign up</b>
    <small> or <a href="" {{action 'toggleSignUp'}}><u>Log in</u></a></small>
  {{else}}
    <b>Log in</b>
    <small> or <span class="text-muted">Sign up</span></small>
  {{/if}}
</h4>

<form {{action "authenticate" on="submit"}}>
  {{#if signupform}}
    {{sign-up "user"}}
  {{else}}
    <div class="form-group-sm">
      <label for="username">Username / Email</label>
      {{#focus-input}}
        {{input type="text" class="form-control" spellcheck=false value=inputusername autocomplete="username"}}
      {{/focus-input}}
    </div>
    <br>
    <div class="form-group-sm">
      <label for="password">Password</label>
      {{input type="password" class="form-control" spellcheck=false value=inputpassword autocomplete="password"}}
    </div>
    <div>
      {{#link-to "forgot-password"}}
        <u><small>Forgot your password?</small></u>
      {{/link-to}}
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Log In</button>
  {{/if}}
</form>
