<div class="container">
  <div class="row m-0">
    <div class="col-xs-12 col-sm-4">
      <div class="well">
        <button class="btn btn-block btn-primary m-1" {{action "openNewMessage"}}>
          Send new message
        </button>
        <br>
        <div>
          {{#unless (is-empty this.currentUser.conversations)}}
            Conversations
          {{else}}
            No conversations yet
          {{/unless}}
          <br>
          {{#each this.currentUser.conversations as |conversation|}}
            <button class="btn btn-block {{if conversation.unread "btn-primary" "btn-secondary"}} {{if (eq conversation.username selectedUser) "border border-3" ""}} m-1" {{action "openMessages" conversation.username}}>
              {{conversation.username}} <span class="ml-2 badge badge-primary badge-pill">{{if conversation.unread conversation.unread ""}}</span>
            </button>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{#if selectedUser}}
        <h5>Messages with <a href="/p/{{lower-case selectedUser}}">{{selectedUser}}</a></h5>
        <br>
        {{#unless noMoreHistory}}
          <a href="" class="text-center" {{action "loadOlderMessages"}}>load older messages</a>
        {{else}}
          no more history
        {{/unless}}
      {{/if}}

      {{#each privateMessages as |message|}}
        <div class="border-top {{if message.messageRead "border-default" "border-danger"}} m-1 pl-1 pb-2">
          {{#if (not-eq message.fromUser currentUsername)}}
            <strong>{{message.fromUser}}</strong>
          {{else}}
            <strong class="text-muted">You</strong>
          {{/if}}
          <div class="float-right">{{ms-to-datetime message.timestamp}}</div>
          <div>{{break-lines message.message}}</div>
        </div>
      {{/each}}
      {{{if this.selectedUser "<br><br>" ""}}}

      <div class="well">
        <h4>Send Message</h4>
        <br>
        <form {{action "sendDM" on="submit"}}>
          <div class="form-group">
            <label for="inputReciever">To</label>
            {{input type="text" spellcheck=false class="form-control" value=inputReciever required=true}}
          </div>
          <div class="form-group">
            <label for="inputMessage">Message</label>
            {{textarea rows="5" id="messageInputBox" type="text" class="form-control" value=inputMessage required=true}}
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary" disabled={{sendDisabled}}>Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
