<div class="form-group-sm">
  <label for="username">Username</label>
  {{#focus-input}}
    {{input type="text" class="form-control" spellcheck=false value=inputusername}}
  {{/focus-input}}
</div>
<br>
<div class="form-group-sm">
  <label for="email">Email address</label>
  {{input type="email" class="form-control" spellcheck=false value=inputemailaddress}}
  <div>
    <small>
      Your email will not be published anywhere on or off the site.<br>
      It is only used for sign-in, password recovery, and account notifications.
    </small>
  </div>
</div>
<br>
{{#if contractorSignup}}
  <div class="form-group">
    <label for="inputFullName">Full Name</label>
    {{input type="text" class="form-control" spellcheck=false value=inputFullName }}
  </div>
  <br>
{{/if}}
<div class="form-group-sm">
  <label for="password">Password</label>
  {{input type="password" class="form-control" spellcheck=false value=inputpassword}}
</div>
{{g-recaptcha theme="dark" onSuccess=(action "onCaptchaResolved")}}
<button type="submit" class="signup-button btn btn-primary btn-block" {{action "signUp"}}>
  Sign me up!
</button>
