<div class="player">

  {{!-- {{#if onlineStatus}} --}}

  <div id='video-player-wrapper'>
     <video id='video-player'>
    </video>
  </div>
  Is Streaming {{isStreaming}} <button {{action "testAction"}}>error</button><button {{action "reset"}}>reset</button><button {{action "src"}}>src</button>


  {{!--{{else}}
    <img src="{{if profilePhoto profilePhoto "/streamnails/usericon.svg"}}" height="500">
  {{/if}}--}}

</div>
