<input type="button" class="btn btn-primary" value="Show Cube History" {{action "getTransactionPage" 1}}>
{{#if transactions}}
  <div class="pt-2">
    You have {{this.currentUser.user.cubesRemaining}} <img src="/cubes.svg" class="" width="25rem">
  </div>
  {{#if this.currentUser.user.broadcaster}}
    <div class="pt-2">
      {{remainingCubesToPayout}} <img src="/cubes.svg" class="" width="25rem"> waiting to be paid out
    </div>
  {{/if}}
  <div class="table-responsive-md">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col" class="text-right">Cubes <img src="/cubes.svg" class="" width="25rem"></th>
          <th scope="col" class="text-right">Dollar Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions as |transaction|}}
          <tr>
            <td>{{if transaction.timestamp (ms-to-datetime transaction.timestamp) ""}}</td>
            <td class="text-right">{{transaction.transactionType}}</td>
            <td>{{transaction.details}}</td>
            <td class="text-right">{{transaction.cubeValue}}</td>
            <td class="text-right">{{format-currency transaction.dollarValue}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{simple-pagination
    recordCount=totalTransactions
    pageSize=10
    pageNumber=currentPage
    maxPagesInList=totalTransactionPages
    onPageSelect=(action "getTransactionPage")
  }}
{{/if}}
