<label for={{concat type "-" property}}>
  {{label}}{{{if required ' <abbr title="This field is mandatory">*</abbr>' ''}}}
</label>
{{input
  type=type
  class="form-control"
  id=(concat type "-" property)
  value=(get changeset property)
  oninput=(action (mut (get changeset property)) value="target.value")
  placeholder=(if placeholder placeholder (if required "" "optional"))
}}
{{attribute-validation-display changeset=changeset property=property}}
