<div class="container">
  <div class="row m-0">

    {{!-- {{#if currentUser.user.broadcaster}}
      <div class="col-12">
        You are already a verified broadcaster.
      </div>
      <div class="col-3 pt-3">
        {{link-to "Account Settings" "account" class="btn btn-primary"}}
      </div>
    {{else if model.pendingBroadcasterApplication}}
      Thank you! Your application is submitted and pending verification.
    {{else}} --}}
      <div class="col-xs-12 col-sm-5">
        {{broadcaster-blurb}}
      </div>
      <div class="col-xs-12 col-sm-7">
        {{#unless currentUser.isContracted}}
          <a href="#why">
            <button class="pb-2 btn btn-link float-right accordion-toggle collapsed" data-toggle="collapse" data-parent="#why" data-target="#why">
              Why do we collect this info?
            </button>
          </a>
        {{/unless}}

        {{contractor-application
          applicationType=applicationType
          userData=currentUser.user
          userVerificationUploads=model.userVerificationUploads
          changeset=changeset
          submit=(action "submitApplication")
          saveForLater=(action "saveApplicationForLater")
          rollback=(action "rollbackApplication")
        }}

        {{#unless currentUser.isContracted}}
          {{w-9-help}}
        {{/unless}}
      </div>
    {{!/if}}

  </div>
</div>
