<div class="container">

  <div class="row m-0 mb-3 ml-2">
    <div class="col-8 col-sm-6 col-md-5 col-lg-4 p-0 pt-1 pl-1">
      <h2>Account Settings</h2>
    </div>
    <div class="col-4 p-0 userTypeBadges">
      {{#if this.currentUser.user.affiliate}}
        <div>Affiliate<span class="fa fa-bullhorn pl-1"></span></div>
      {{/if}}
      {{#if this.currentUser.user.broadcaster}}
        <div>Broadcaster<span class="fa fa-video-camera pl-1"></span></div>
      {{/if}}
      {{#if this.currentUser.user.developer}}
        <div>Developer<span class="fa fa-file-code-o pl-1"></span></div>
      {{/if}}
    </div>
  </div>
  <div class="row m-0">
    <div class="col-xs-12 col-sm-7 col-md-8 ">
      {{#if this.currentUser.user.isContracted}}

      {{/if}}
      {{#link-to "p" (lower-case session.data.authenticated.username) class="btn btn-primary btn-block d-block d-sm-none mb-3"}}
        <span class="fa fa-edit" aria-hidden="true"></span>
        Edit Profile
      {{/link-to}}

      {{#if this.currentUser.user.isContracted}}
        <div class="card mb-3" id="payoutSettingsAccordion">
          <div class="card-heading">
            <h3 class="card-title">Payout Settings</h3>
          </div>
          <div id="PayoutSettings" class="card ">
            <div class="card-body">
              <h5> Select Payout Method:</h5>

              <form {{action "submitPayoutSettings" on="submit"}}>
                <div class="form-check form-check-inline w-100 pb-3">
                  <div class=" w-50 mx-0 payout-method btn btn-block btn-light " {{action "checkThis" "inputPayoutCheck"}}>
                    {{radio-button value='check' id="inputPayoutCheck" name=inputPayoutType checked=inputPayoutType}}
                    <label class="form-check-label" for="inputPayoutType">Mailed Check</label>
                  </div>
                  <div class=" w-50 mx-0 mt-0 payout-method btn btn-block btn-light " {{action "checkThis" "inputPayoutBitcoin"}}>
                    {{radio-button value='bitcoin' id="inputPayoutBitcoin" name=inputPayoutType checked=inputPayoutType}}
                    <label class="form-check-label" for="inputPayoutType">Bitcoin</label>
                  </div>
                </div>
                {{#if payoutIsBitcoin}}
                  <div class="form-group" id="bitcoinAddressInputDiv">
                    <label for="inputbitcoinaddress">Bitcoin Address</label>
                    {{input type="text" class="form-control" value=inputbitcoinaddress }}
                  </div>
                {{else}}
                {{/if}}

                <div class="form-group">
                  <label for="inputaddress1">Address Line 1</label>
                  {{input type="text" class="form-control" value=inputaddress1 }}
                </div>


                <div class="form-group">
                  <label for="inputaddress2">Address Line 2</label>
                  {{input type="text" class="form-control" value=inputaddress2 }}
                </div>
                <div class="form-group">
                  <label for="inputCity">City</label>
                  {{input type="text" class="form-control" value=inputCity }}
                </div>
                <div class="form-group">
                  <label for="inputRegion">State / Province / Region</label>
                  {{input type="text" class="form-control" value=inputRegion }}
                </div>
                <div class="form-group">
                  <label for="inputZipcode">Zip / Postal Code</label>
                  {{input type="text" class="form-control" value=inputZipcode }}
                </div>
                <div class="form-group">
                  <label for="inputCountry">Country</label>
                  {{#power-select
                                selected=inputCountry
                                id="inputCountry"
                                options=countriesList
                                onchange=(action (mut inputCountry))
                                oninput=(action "checkLength")
                                as |name|}}
                    {{name}}
                  {{/power-select}}
                </div>

                <div class=text-right>
                  <button type="submit" class={{this.payoutSettingSubmitBtn}}>{{this.payoutSettingSubmitText}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="card mb-3" id="transactionsAccordion">
          <div class="card-heading" >
            <h3 class="card-title">Tips</h3>
          </div>
          <div id="transactions" class="card ">
            <div class="card-body">
              <input type="button" class="btn btn-primary" value="Get tips" {{action "getTransactions"}}>
              {{#if transactions}}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Credits</th>
                      <th scope="col">Description</th>
                      <th scope="col">Payout Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each transactions as |transaction|}}
                      <tr>
                        <td>{{transaction.createdAt}}</td>
                        <td>{{transaction.creditsTransferred}}</td>
                        <td>{{transaction.transferDescription}}</td>
                        <td>{{transaction.broadcasterPayoutPercentage}}%</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}

      <div class="card mb-3" id="notifySettingsAccordion">
        <div class="card-heading">
          <h3 class="card-title">Notification Settings</h3>
        </div>
        <div id="notifySettings" class="card">
          <div class="card-body">
            <h5>Email Subscriptions </h5>
            <form {{action "submitnotifySettings" on="submit"}}>

              <div class="form-check">
                <label class="form-check-label">
                  {{input type="checkbox" class="form-check-input" name="sendEmailFollowedOnline" checked=sendEmailFollowedOnline}}
                  "Now Streaming" notifications from broadcasters you follow <i class="fa fa-heart" aria-hidden="true"></i>
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  {{input type="checkbox" class="form-check-input" name="privateMessageEmailNotifications" checked=privateMessageEmailNotifications}}
                  Private message notifications
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  {{input type="checkbox" class="form-check-input" name="sendEmailSiteNews" checked=sendEmailSiteNews}}
                  Monthly site newsletter
                </label>
              </div>


              <div class=text-right>
                <button type="submit" class={{this.notifySettingsSubmitBtn}}>{{this.notifySettingsSubmitText}}</button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="card mb-3" id="siteSettingsAccordion">
        <div class="card-heading">
          <h3 class="card-title"> Site Settings</h3>
        </div>
        <div id="SiteSettings" class="card">
          <div class="card-body">
            <form {{action "submitSiteSettings" on="submit"}}>


              <hr class="splash-horizontal-rule">
              <h5> Site Graphics Style</h5>

              <div class="form-check">
                <label class="form-check-label">
                  <!-- <input type="checkbox" class="form-check-input" checked> -->
                  {{input type="checkbox" class="form-check-input" name="darkMode" checked=this.currentUser.user.darkMode }}
                  Dark mode
                </label>
              </div>
              <hr class="splash-horizontal-rule">
              <h5>Time Zone</h5>

              <div class="form-group">
                <label for="inputTimeZone">Your Time Zone</label>
                {{#power-select
                      options=timezoneList
                      selected=inputTimeZone
                      id="inputTimeZone"
                      onchange=(action (mut inputTimeZone))
                      oninput=(action "checkLength")
                      as |name|}}
                  {{name}}
                {{/power-select}}


                <!--use matcher=timeZoneSearch instead of searchField for more advanced search -->
              </div>

              <div class=text-right>
                <button type="submit" class={{this.siteSettingSubmitBtn}}>{{this.siteSettingSubmitText}}</button>

              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card mb-3" id="securitySettingsAccordion">
        <div class="card-heading">
          <h3 class="card-title">Email and Security Settings</h3>
        </div>
        <div id="SecuritySettings" class="card">
          <div class="card-body">
            <form {{action "submitEmailChange" on="submit"}}>
              <h5>Change your email address</h5>
              <div class="form-group">
                <label for="inputemailAddress">New Email address</label>
                {{input type="email" class="form-control" required=true
                        autocomplete="email" value=inputnewemailAddress }}
              </div>
              <div class="form-group">
                <label for="inputnewemailAddressConfirm">Confirm New Email address</label>
                {{input type="email" class="form-control" required=true
                        autocomplete="email" value=inputnewemailAddressConfirm }}
              </div>
              <div class="form-group">
                <label for="inputpassword">Current Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="current-password" value=inputEmailCurrentPassword }}
              </div>
              <div class=text-right>
                <button type="submit" class={{this.emailChangeSubmitBtn}}>{{this.emailChangeSubmitText}}</button>
              </div>
            </form>

            <hr class="splash-horizontal-rule">

            <form {{action "submitPasswordChange" on="submit"}}>
              <h5>Change your password</h5>
              <div class="form-group">
                <label for="inputpassword">New Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="new-password" value=inputnewpassword }}
              </div>
              <div class="form-group">
                <label for="inputpasswordconfirm">Confirm New Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="new-password" value=inputpasswordconfirm }}
              </div>
              <div class="form-group">
                <label for="inputpassword">Current Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="current-password" value=inputPasswordCurrentPassword }}
              </div>
              <div class=text-right>
                <button type="submit" class={{this.passwordChangeSubmitBtn}}>{{this.passwordChangeSubmitText}}</button>

              </div>
            </form>

            <hr class="splash-horizontal-rule">

            <form {{action "submitSecurityQuestionChange" on="submit"}}>
              <h5>Change your Security Questions</h5>
              <div class="form-group">
                <label>Question 1</label>
                {{#power-select
                        selected=inputQuestion1
                        id="inputQuestion1"
                        options=questionsList
                        onchange=(action (mut inputQuestion1))
                        oninput=(action "checkLength")
                        as |name|}}
                  {{name}}
                {{/power-select}}
              </div>
              <div class="form-group">
                <label for="inputAnswer1">Answer 1</label>
                {{input type="text" class="form-control" value=inputAnswer1 }}
              </div>
              <div class="form-group">
                <label>Question 2</label>
                {{#power-select
                        selected=inputQuestion2
                        id="inputQuestion2"
                        options=questionsList
                        onchange=(action (mut inputQuestion2))
                        oninput=(action "checkLength")
                        as |name|}}
                  {{name}}
                {{/power-select}}
              </div>
              <div class="form-group">
                <label for="inputAnswer1">Answer 2</label>
                {{input type="text" class="form-control" value=inputAnswer2 }}
              </div>
              <div class="form-group">
                <label>Question 3</label>
                {{#power-select
                        selected=inputQuestion3
                        id="inputQuestion3"
                        options=questionsList
                        onchange=(action (mut inputQuestion3))
                        oninput=(action "checkLength")
                        as |name|}}
                  {{name}}
                {{/power-select}}
              </div>
              <div class="form-group">
                <label for="inputAnswer3">Answer 3</label>
                {{input type="text" class="form-control" value=inputAnswer3 }}
              </div>
              <div class="form-group">
                <label for="inputpassword">Current Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="current-password" value=inputSecurityQuestionCurrentPassword }}
              </div>
              <div class=text-right>
                <button type="submit" class={{this.securityQuestionsSubmitBtn}}>{{this.securityQuestionsSubmitText}}</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4">
      {{#if this.currentUser.user.isContracted}}

        {{#if this.currentUser.user.broadcaster}}
          (These do nothing)
          <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream via RTMP software.">Stream</button>
          <button class="btn btn-primary btn-block btn-lg d-none d-sm-block py-3" title="Stream via RTMP software.">Stream</button>
          <hr class="splash-horizontal-rule mt-4">
        {{/if}}

        <div class="row mt-4">
          <div class="col  p-1 mb-2">
            {{#link-to "p" (lower-case session.data.authenticated.username) class="w-100 btn btn-secondary"}}
              <span class="fa fa-edit"></span><br>
              Profile
            {{/link-to}}
          </div>
          <div class="col   p-1 mb-2">
            {{#link-to "account.messages" class="w-100 btn btn-secondary"}}
              <span class="fa fa-inbox"></span><br>
              Inbox
            {{/link-to}}
          </div>
        </div>
        <div class="row">
          <div class="col  p-1 mb-2">
            {{#link-to "help" class="w-100 btn btn-secondary"}}
              <span class="fa fa-question"></span><br>
              Help
            {{/link-to}}
          </div>
        </div>


      {{/if}}


      {{#if this.currentUser.user.broadcaster}}
      {{else}}
        {{#link-to "account.broadcaster"  class="btn btn-primary btn-block d-none d-sm-block" }}
          Become a Broadcaster &nbsp;<span class="fa fa-video-camera" aria-hidden="true"></span>
        {{/link-to}}

      {{/if}}
      {{#if this.currentUser.user.developer}}
      {{else}}
        {{#link-to "account.developer" class="btn btn-primary btn-block d-none d-sm-block" }}
          Become a Developer &nbsp;<span class="fa fa-file-code-o" aria-hidden="true"></span>
        {{/link-to}}

      {{/if}}
      {{#if this.currentUser.user.affiliate}}
      {{else}}
        {{#link-to "account.affiliate" class="btn btn-primary btn-block d-none d-sm-block" }}
          Become an Affiliate &nbsp;<span class="fa fa-bullhorn" aria-hidden="true"></span>
        {{/link-to}}
      {{/if}}

      {{#if this.currentUser.user.broadcaster}}
      {{else}}
        {{#link-to "account.broadcaster" class="btn btn-primary btn-block d-block d-sm-none" }}
          Become a Broadcaster &nbsp;<span class="fa fa-video-camera" aria-hidden="true"></span>
        {{/link-to}}
      {{/if}}
      {{#if this.currentUser.user.developer}}
      {{else}}
        {{#link-to "account.developer" class="btn btn-primary btn-block d-block d-sm-none" }}
          Become a Developer &nbsp;<span class="fa fa-file-code-o" aria-hidden="true"></span>

        {{/link-to}}
      {{/if}}
      {{#if this.currentUser.user.affiliate}}
      {{else}}
        {{#link-to "account.affiliate" class="btn btn-primary btn-block d-block d-sm-none" }}
          Become an Affiliate &nbsp;<span class="fa fa-bullhorn" aria-hidden="true"></span>
        {{/link-to}}
      {{/if}}
      <div class="mt-4">
        {{#link-to "account.close" class="btn btn-outline-light btn-block "  }}
          Close Account
        {{/link-to}}
      </div>
    </div>

  </div>



    {{#if this.currentUser.user.isContracted}}

      <div class="row m-0">


        {{#if this.currentUser.user.isContracted}}
          <div class="col-xs-12 col-md-8 order-md-1">

            Your Affiliate link is coming soon!
            <br><br>

            {{#if this.currentUser.user.broadcaster}}

              <div class="card mb-3 " id="streamSettingsAccordion">
                <div class="card-heading  " data-parent="#streamSettingsAccordion" data-target="#streamSettings">
                  <h4 class="card-title"><span class="fa fa-cog" aria-hidden="true"></span>&nbsp; Stream Settings</h4>
                </div>
                <div id="streamSettings" class="card">
                  <div class="card-body">
                    <div class=" row pb-3">
                      <div class="col-xs-12 col-sm-6 pb-2">
                        <button class="btn btn-block btn-secondary" id="showStreamKeyBtn" type="button" {{action "showStreamKey"}}>Show Stream Key</button>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        {{confirm-input type="reset" title="Reset?" button-title="Reset Stream Key" onConfirm=(action "resetStreamKey")}}
                      </div>
                    </div>

                    <div class="mb-3" {{action "copyStreamKeyToClipboard"}}>
                      {{textarea class="form-control"  id="streamKeyDisplayID" value=streamKeyDisplay readonly="true"}}
                      <div class={{this.keyCopySuccess}}>
                        <div class="float-right text-success">
                          <span class="fa fa-check "></span>Copied to Clipboard
                        </div>
                      </div>
                      <div class={{this.newCopySuccess}}>
                        <div class="mt-0 float-right text-success">
                          <span class="fa fa-check "></span>New Stream Key Saved
                        </div>
                      </div>
                    </div>

                    <hr class="splash-horizontal-rule mt-4">
                    <form {{action "submitStreamSettings" on="submit"}}>
                      <h5>Interaction Settings</h5>

                      <div class="form-check mt-2">
                        <label class="form-check-label">
                          {{input type="checkbox" class="form-check-input" checked=model.userPublicDatum.allowTips}}
                          Enable Tipping.
                        </label>
                      </div>

                      <div class="text-right pt-3">
                        <button type="submit" class={{this.streamSettingSubmitBtn}}>{{this.streamSettingSubmitText}}</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>

            {{/if}}


            <div class="card mb-3 " id="notesAccordion">

              <div class="card-heading">
                <h4 class="card-title"><span class="fa fa-bar-chart" aria-hidden="true"></span>&nbsp; Private Notepad</h4>
              </div>
              <div id="notes" class="card">
                <div class="card-body">

                  <form {{action "submitUserNotes" on="submit"}}>
                    {{textarea class="form-control"  id="privateUserNotes" maxlength="1000" value=model.user.privateUserNotes placeholder="Only you can see this notepad."}}
                    <div class="text-right pt-3">
                      <button type="submit" class={{this.notesSubmitBtn}}>{{this.notesSubmitText}}</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            {{#if this.currentUser.user.developer}}
              <div class="card mb-3 " id="developerAccordion">
                <div class="card-heading" >
                  <h4 class="card-title"><span class="fa fa-gamepad" aria-hidden="true"></span>&nbsp; My Games</h4>

                </div>
                <div id="developer" class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <button class="btn btn-secondarysecondary btn-block btn-lg d-block d-sm-none" title="View the API and Documentation">View<br>API</button>
                        <button class="btn btn-secondary btn-block btn-lg d-none d-sm-block" title="View the API and Documentation">View API</button>
                      </div>
                      <div class="col-6">
                        <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Upload Your Game">Upload <br>Game</button>
                        <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Upload Your Game">Upload Game</button>
                      </div>
                    </div>
                    <hr class="splash-horizontal-rule">

                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-8">
                          Game 1
                        </div>
                        <div class="col-xs-4">
                          <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-8">
                          Game 2
                        </div>
                        <div class="col-xs-4">
                          <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-8">
                          Game 3
                        </div>
                        <div class="col-xs-4">
                          <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-8">
                          Game 4
                        </div>
                        <div class="col-xs-4">
                          <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>

    {{else}}
      <div class="row m-0">

        <div class="col-12 col-sm-6">
          {{#link-to "home" class="btn btn-primary btn-block btn-lg d-block d-sm-none"}}
            <span class="fa  fa-video-camera mr-3"></span>
            Browse <br> Broadcasters
          {{/link-to}}
          {{#link-to "home" class="btn btn-primary btn-block btn-lg d-none d-sm-block"}}
            <span class="fa  fa-video-camera mr-3"></span>
            Browse Broadcasters
          {{/link-to}}
        </div>
      </div>
    {{/if}}



</div>

{{outlet}}
