<div class="container">
  <div class="row m-0 mb-3 ml-2">
    <div class="col-8 col-sm-6 col-md-5 col-lg-4 p-0 pt-1 pl-1">
      <h2>Account Settings</h2>
    </div>
    <div class="col-4 p-0 userTypeBadges">
      {{#if this.currentUser.user.affiliate}}
        <div>Affiliate<span class="fa fa-bullhorn pl-1"></span></div>
      {{/if}}
      {{#if this.currentUser.user.broadcaster}}
        <div>Broadcaster<span class="fa fa-video-camera pl-1"></span></div>
      {{/if}}
      {{#if this.currentUser.user.developer}}
        <div>Developer<span class="fa fa-file-code-o pl-1"></span></div>
      {{/if}}
    </div>
  </div>
  <div class="row m-0">
    <div class="col-xs-12 col-sm-7 col-md-8 ">
      {{#if this.currentUser.user.isContracted}}
                <div class="card mb-3">
                  <div class="card-heading">
                    <h3 class="card-title">
                      <img src="/credits.svg" class="" width="25rem">
                      &nbsp;Credit History</h3>
                  </div>
                  <div id="transactions" class="card ">
                    <div class="card-body">
                      <input type="button" class="btn btn-primary" value="Get tips" {{action "getTransactions"}}>
                      {{#if transactions}}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Credits</th>
                              <th scope="col">Description</th>
                              <th scope="col">Payout Percentage</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each transactions as |transaction|}}
                              <tr>
                                <td>{{transaction.createdAt}}</td>
                                <td>{{transaction.creditsTransferred}}</td>
                                <td>{{transaction.transferDescription}}</td>
                                <td>{{transaction.broadcasterPayoutPercentage}}%</td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{#if this.currentUser.user.broadcaster}}

                  <div class="card mb-3 ">
                    <div class="card-heading">
                      <h4 class="card-title"><span class="fa fa-video-camera" aria-hidden="true"></span>&nbsp; Stream Settings</h4>
                    </div>
                    <div  class="card">
                      <div class="card-body">
                        <div class=" row pb-3">
                          <div class="col-xs-12 col-sm-6 pb-2">
                            <button class="btn btn-block btn-secondary" type="button" {{action "showStreamKey"}}>{{this.toggleHideStreamKeyText}}</button>
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            <div class="float-right">
                            {{confirm-input type="reset" title="Reset?" button-title="Reset Stream Key" onConfirm=(action "resetStreamKey")}}
                            </div>
                          </div>
                        </div>

                        <div class="mb-3" {{action "copyStreamKeyToClipboard"}}>
                          Stream Key:
                          {{input type="text" id="streamKeyDisplayID" class="form-control" value=streamKeyDisplay readonly="true"}}
                          <div class={{this.keyCopySuccess}}>
                            <div class="float-right text-success">
                              <span class="fa fa-check "></span>Copied to clipboard
                            </div>
                          </div>
                          <div class={{this.newCopySuccess}}>
                            <div class="mt-0 float-right text-success">
                              <span class="fa fa-check "></span>New stream key saved
                            </div>
                          </div>
                        </div>

                        <div class="mb-5" {{action "copyServerToClipboard"}}>
                          Stream Server:
                          {{input type="text" id="streamServerDisplay" class="form-control" value=streamServer readonly="true"}}
                          <div class={{this.serverCopySuccess}}>
                            <div class="float-right text-success">
                              <span class="fa fa-check "></span>Copied to clipboard
                            </div>
                          </div>
                        </div>

                        <a href="/help#streamHelp"class="w-100 btn btn-block btn-secondary">
                        Live Streaming Help
                      </a>


                        <hr class="splash-horizontal-rule">
                        <form {{action "submitStreamSettings" on="submit"}}>
                          <h5>Interaction Settings</h5>

                          <div class="form-check mt-2">
                            <label class="form-check-label">
                              {{input type="checkbox" class="form-check-input" checked=model.userPublicDatum.allowTips}}
                              Enable Tipping.
                            </label>
                          </div>

                          <div class="text-right pt-3">
                            {{submit-button submitSuccessState=(mut streamSettingsSaveSuccess) submitStarted=(mut streamSettingsSaveStart)}}

                          </div>
                        </form>

                      </div>
                    </div>
                  </div>

                {{/if}}



                {{#if this.currentUser.user.developer}}
                  <div class="card mb-3 " id="developerAccordion">
                    <div class="card-heading">
                      <h4 class="card-title"><span class="fa fa-gamepad" aria-hidden="true"></span>&nbsp; My Games</h4>

                    </div>
                    <div id="developer" class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-6">
                            <button class="btn btn-secondary btn-block btn-lg" title="View the API and Documentation">View API</button>
                          </div>
                          <div class="col-6">
                            <button class="btn btn-primary btn-block btn-lg" title="Upload Your Game">Upload Game</button>
                          </div>
                        </div>
                        <hr class="splash-horizontal-rule">

                        <div class="row">
                          <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-8">
                              Game 1
                            </div>
                            <div class="col-xs-4">
                              <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-8">
                              Game 2
                            </div>
                            <div class="col-xs-4">
                              <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-8">
                              Game 3
                            </div>
                            <div class="col-xs-4">
                              <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-8">
                              Game 4
                            </div>
                            <div class="col-xs-4">
                              <img src="/usericon.svg" class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {{/if}}
      {{/if}}


      {{#if this.currentUser.user.isContracted}}

        <div class="card mb-3">
          <div class="card-heading">
            <h3 class="card-title">    <span class="fa fa-address-card-o"></span>&nbsp; Payout Settings</h3>
          </div>
          <div class="card ">
            <div class="card-body">
              <h5> Select Payout Method:</h5>

              <form {{action "submitPayoutSettings" on="submit"}}>
                <div class="form-check form-check-inline w-100 pb-3">
                  <div class=" w-50 mx-0 py-3 btn btn-block btn-primary custom-control custom-radio " {{action "checkThis" "inputPayoutCheck"}}>
                    {{radio-button class="custom-control-input" value='check' id="inputPayoutCheck" name=inputPayoutType checked=inputPayoutType}}
                    <label class="custom-control-label" for="inputPayoutType">Mailed Check</label>
                  </div>
                  <div class=" w-50 mx-0 mt-0 py-3 btn btn-block btn-primary custom-control custom-radio" {{action "checkThis" "inputPayoutBitcoin"}}>
                    {{radio-button class="custom-control-input" value='bitcoin' id="inputPayoutBitcoin" name=inputPayoutType checked=inputPayoutType}}
                    <label class="custom-control-label" for="inputPayoutType">Bitcoin</label>
                  </div>
                </div>
                {{#if payoutIsBitcoin}}
                  <div class="form-group" id="bitcoinAddressInputDiv">
                    <label for="inputbitcoinaddress">Bitcoin Address</label>
                    {{input type="text" class="form-control" value=inputbitcoinaddress }}
                  </div>
                {{else}}
                {{/if}}

                <div class="form-group">
                  <label for="inputaddress1">Address Line 1</label>
                  {{input type="text" class="form-control" value=inputaddress1 }}
                </div>


                <div class="form-group">
                  <label for="inputaddress2">Address Line 2</label>
                  {{input type="text" class="form-control" value=inputaddress2 }}
                </div>
                <div class="form-group">
                  <label for="inputCity">City</label>
                  {{input type="text" class="form-control" value=inputCity }}
                </div>
                <div class="form-group">
                  <label for="inputRegion">State / Province / Region</label>
                  {{input type="text" class="form-control" value=inputRegion }}
                </div>
                <div class="form-group">
                  <label for="inputZipcode">Zip / Postal Code</label>
                  {{input type="text" class="form-control" value=inputZipcode }}
                </div>
                <div class="form-group">
                  <label for="inputCountry">Country</label>
                  {{#power-select
                                selected=inputCountry
                                id="inputCountry"
                                options=countriesList
                                onchange=(action (mut inputCountry))
                                oninput=(action "checkLength")
                                as |name|}}
                    {{name}}
                  {{/power-select}}
                </div>

                {{submit-button submitSuccessState=(mut payoutSettingsSaveSuccess) submitStarted=(mut payoutSettingsSaveStart)}}
              </form>
            </div>
          </div>
        </div>


      {{/if}}

      <div class="card mb-3">
        <div class="card-heading">
          <h3 class="card-title">
            <span class="fa fa-bell-o"></span>&nbsp;Notification Settings</h3>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Email Subscriptions </h5>

            <form {{action "submitnotifySettings" on="submit"}}>

              <div class="custom-control custom-checkbox">
                {{input type="checkbox" class="custom-control-input" id="sendFollowedOnline" name="sendEmailFollowedOnline" checked=sendEmailFollowedOnline}}
                <label class="custom-control-label" for="sendFollowedOnline">
                  "Now Streaming" notifications from broadcasters you follow <i class="fa fa-bell" aria-hidden="true"></i>
                </label>
              </div>

              <div class="custom-control custom-checkbox">
                {{input type="checkbox" class="custom-control-input" id="sendPrivateMessageEmail" name="privateMessageEmailNotifications" checked=privateMessageEmailNotifications}}
                <label class="custom-control-label" for="sendPrivateMessageEmail">
                  Private message notifications
                </label>
              </div>
              <div class="custom-control custom-checkbox">
                {{input type="checkbox" class="custom-control-input" id="sendSiteNews" name="sendEmailSiteNews" checked=sendEmailSiteNews}}
                <label class="custom-control-label" for="sendSiteNews">
                  Monthly site newsletter
                </label>
              </div>

              {{submit-button submitSuccessState=(mut notifySettingsSaveSuccess) submitStarted=(mut notifysettingsSaveStart)}}


            </form>
          </div>
        </div>
      </div>
{{!--
      <div class="card mb-3">
        <div class="card-heading">
          <h3 class="card-title">Site Settings</h3>
        </div>
        <div  class="card">
          <div class="card-body">
            <form {{action "submitSiteSettings" on="submit"}}>
              {{!--

              <hr class="splash-horizontal-rule">
              <h5> Site Graphics Style</h5>

              <div class="custom-control custom-checkbox">
                <label class="custom-control-label">
                  <!-- <input type="checkbox" class="custom-control-input" checked> -->
                  {{input type="checkbox" class="custom-control-input" name="darkMode" checked=this.currentUser.user.darkMode }}
                  Dark mode
                </label>
              </div>
              <hr class="splash-horizontal-rule">

              <h5>Time Zone</h5>
              <div class="form-group">
                <label for="inputTimeZone">Your Time Zone</label>
                {{#power-select
                      options=timezoneList
                      selected=inputTimeZone
                      id="inputTimeZone"
                      onchange=(action (mut inputTimeZone))
                      oninput=(action "checkLength")
                      as |name|}}
                  {{name}}
                {{/power-select}}


                <!--use matcher=timeZoneSearch instead of searchField for more advanced search -->
              </div>

              {{submit-button submitSuccessState=(mut siteSettingsSaveSuccess) submitStarted=(mut siteSettingsSaveStart)}}

            </form>
          </div>
        </div>
      </div> --}}
      <div class="card mb-3">
        <div class="card-heading">
          <h3 class="card-title">
            <span class="fa fa-cog"></span>&nbsp;Email and Security Settings</h3>
        </div>
        <div  class="card">
          <div class="card-body">
            <form {{action "submitEmailChange" on="submit"}}>
              <h5>Change your email address</h5>
              <div class="form-group">
                <label for="inputemailAddress">New Email address</label>
                {{input type="email" class="form-control" required=true
                        autocomplete="email" value=inputnewemailAddress }}
              </div>
              <div class="form-group">
                <label for="inputnewemailAddressConfirm">Confirm New Email address</label>
                {{input type="email" class="form-control" required=true
                        autocomplete="email" value=inputnewemailAddressConfirm }}
              </div>
              <div class="form-group">
                <label for="inputpassword">Current Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="current-password" value=inputEmailCurrentPassword }}
              </div>
              {{submit-button submitSuccessState=(mut emailSaveSuccess) submitStarted=(mut emailSaveStart)}}
            </form>

            <hr class="splash-horizontal-rule">

            <form {{action "submitPasswordChange" on="submit"}}>
              <h5>Change your password</h5>
              <div class="form-group">
                <label for="inputpassword">New Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="new-password" value=inputnewpassword }}
              </div>
              <div class="form-group">
                <label for="inputpasswordconfirm">Confirm New Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="new-password" value=inputpasswordconfirm }}
              </div>
              <div class="form-group">
                <label for="inputpassword">Current Password</label>
                {{input type="password" class="form-control" required=true
                        autocomplete="current-password" value=inputPasswordCurrentPassword }}
              </div>


              {{submit-button submitSuccessState=(mut passwordSaveSuccess) submitStarted=(mut passwordSaveStart)}}

            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4">
      {{#if this.currentUser.user.isContracted}}



        <div class="row mt-4">
          <div class="col  p-1 mb-2">
            {{#link-to "p" (lower-case session.data.authenticated.username) class="w-100 btn btn-secondary"}}
              <span class="fa fa-edit"></span><br>
              Public Profile
            {{/link-to}}
          </div>
          <div class="col   p-1 mb-2">
            {{#link-to "account.messages" class="w-100 btn btn-secondary"}}
            {{#if (gt this.currentUser.unreadMessages 0)}}
              <span class="ml-0 mr-1 badge badge-dark badge-pill">
                {{this.currentUser.unreadMessages}}
              </span>
            {{else}}
              <span class="fa fa-envelope-o"></span>
            {{/if}}
            <br>
              Inbox
            {{/link-to}}
          </div>
        </div>
        <div class="row">
          <div class="col  p-1 mb-2">
            {{#link-to "help" class="w-100 btn btn-secondary"}}
              <span class="fa fa-question"></span><br>
              Help
            {{/link-to}}
          </div>
          <div class="col p-1 mb-2">
            {{#link-to "home" class="w-100 btn btn-secondary"}}
              <span class="fa  fa-video-camera mr-3"></span>
              <br>
              Browse Broadcasters
            {{/link-to}}
          </div>
        </div>
        <div class="card my-5">
          <h4 class="card-title"><span class="fa fa-bullhorn" aria-hidden="true"></span>&nbsp; Affiliate Link</h4>
          Your Affiliate link is coming soon!
        </div>
      {{/if}}


      {{#if this.currentUser.user.broadcaster}}
      <div class="pb-5">
          <h4 class="card-title"><span class="fa fa-sticky-note-o" aria-hidden="true"></span>&nbsp; Private Notepad</h4>
            <form {{action "submitUserNotes" on="submit"}}>
              {{textarea class="form-control" rows=8 id="privateUserNotes" maxlength="1000" value=model.user.privateUserNotes placeholder="This notepad is only visible to you. Save stream titles, ideas, dates, or just things to remember."}}
              <div class="text-right pt-3">
                {{submit-button submitSuccessState=(mut notesSaveSuccess) submitStarted=(mut notesSaveStart)}}
              </div>
            </form>
    </div>
      {{else}}
        {{#link-to "account.broadcaster"  class="btn btn-primary btn-block" }}
          Become a Broadcaster &nbsp;<span class="fa fa-video-camera" aria-hidden="true"></span>
        {{/link-to}}

      {{/if}}
      {{#if this.currentUser.user.developer}}
      {{else}}
        {{#link-to "account.developer" class="btn btn-primary btn-block" }}
          Become a Developer &nbsp;<span class="fa fa-file-code-o" aria-hidden="true"></span>
        {{/link-to}}

      {{/if}}
      {{#if this.currentUser.user.affiliate}}
      {{else}}
        {{#link-to "account.affiliate" class="btn btn-primary btn-block" }}
          Become an Affiliate &nbsp;<span class="fa fa-bullhorn" aria-hidden="true"></span>
        {{/link-to}}
      {{/if}}

      <div class="mt-5">
        {{#link-to "account.close" class="btn btn-outline-light btn-block "  }}
          Close Account
        {{/link-to}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
