{{ember-load-remover}}
{{! head-layout is required for ember-theme-changer}}
{{head-layout}}
{{browser-detection}}
{{! These don't function yet, just graphical stand ins }}
{{! private-messenger}}
{{! popup-alert}}
{{! Notifications }}
{{#ember-notify closeAfter=8000 messageStyle='bootstrap' defaultClass="custom-notify" as |message close| }}
  <a {{action close}} class="close">
    <span class="fs-1-5r p-2" aria-hidden="true">&nbsp;&nbsp;×&nbsp;&nbsp;</span>
  </a>
  <span class="message">
    {{log message}}
    {{#if message.textArray}}
      {{#each message.textArray as |text|}}
        <li>{{{text.message}}}</li>
      {{/each}}
    {{else}}
      {{{message.text}}}
    {{/if}}
  </span>
{{/ember-notify}}

{{! Navbar }}
<BsNavbar @class="navbar-expand red-bar p-2" @type="pills" as |navbar|>
  <LinkTo @route="home" @class="brand-link" @activeClass="">
    <img src="/logo.svg" height="32px" width="32px">
    Saber
  </LinkTo>
  {{#navbar.toggle}}
    <span class="navbar-toggler-icon"></span>
  {{/navbar.toggle}}
  <navbar.content @class="flex-row-reverse">
    <navbar.nav as |nav|>
      {{#if session.isAuthenticated}}
          <nav.dropdown @closeOnMenuClick={{false}} as |dd|>
            <dd.button @type="" @class="nav-link btn-light mr-2">
              <span class="mx-2"> <i title="Buy Credits" class="fa fa-database" aria-hidden="true"></i></span>
            </dd.button>
            <dd.menu @align="right" @class="px-4 py-3" as |ddm|>
              <div class="dropdown-header text-center">
                You have <i class="fa fa-database" aria-hidden="true"></i>
                <strong>{{currentUser.user.creditsRemaining}} Arcs</strong>
              </div>
              {{buy-credits}}
            </dd.menu>
          </nav.dropdown>
        <nav.dropdown as |dd|>
          <dd.button @type="" @class="btn-outline-light">
            {{#if (gt this.currentUser.unreadMessages 0)}}
              <span class="ml-0 mr-1 badge badge-primary badge-pill">
                {{this.currentUser.unreadMessages}}
              </span>
            {{else}}
              <i title="Menu" class="fa fa-align-right mr-2"></i>
            {{/if}}
            <i class="fa fa-caret-down"></i>
          </dd.button>
          <dd.menu @align="right" as |ddm|>
            <ddm.item>
              <ddm.linkTo @route="p" @model={{lower-case session.data.authenticated.username}}>
                Hi <strong>{{session.data.authenticated.username}}</strong>
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="account.messages">
                Messages
                {{#if this.currentUser.unreadMessages}}
                  <span class="ml-2 badge badge-primary badge-pill">
                    {{this.currentUser.unreadMessages}}
                  </span>
                {{/if}}
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="account.index">
                Account Settings
              </ddm.linkTo>
            </ddm.item>
            <ddm.divider></ddm.divider>
            <!--  <ddm.item>
              <label class="form-check-label dropdown-item" onclick={{action "keepDropdownOpen" dd.openDropdown}}>
                Dark mode
                {{input type="checkbox" checked=this.currentUser.user.darkMode}}
              </label>
            </ddm.item>-->
            <ddm.item>
              <ddm.linkTo @route="help">
                Help
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="terms">
                Terms of Service
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="privacy">
                Privacy Policy
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="legal">
                Legal
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="home">
                © {{copyrightYear}} Saber
              </ddm.linkTo>
            </ddm.item>
            <ddm.divider></ddm.divider>
            <ddm.item>
              <a class="dropdown-item" role="button" {{action "logout"}}>
                Log Out
              </a>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
      {{else}} {{! user not authenticated }}
        <nav.dropdown @closeOnMenuClick={{false}} as |dd|>
          <dd.button @type="" @class="nav-link btn-light">
            <span class="mx-2">Log in</span>
          </dd.button>
          <dd.menu @align="right" @class="px-4 py-3" as |ddm|>
            {{log-in}}
          </dd.menu>
        </nav.dropdown>
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="my-2">
  {{outlet}}
</div>
{{to-top}}
