<div class="container">

  {{! Header}}
  <div class="row m-0">
    <div class="col-xs-11 col-sm-6">
      <h4 {{action "reloadBrowsePageTest"}}>Active Broadcasters</h4>
      {{#if model.length}}
      {{/if}}
      <br>
    </div>
    <div class="col-xs-11 col-sm-6">
      <div class="input-group">
        {{input enter=(action "search") type="text" class="form-control" placeholder="Search all broadcasters" value=searchInput}}
        <span class="input-group-append">
          <button class="btn btn-primary fa fa-search" type="button" {{action "search"}}></button>
        </span>
      </div>
    </div>
  </div>
  <br>

  {{! Broadcaster display}}
  <div class="row m-0">

    {{#each model as |broadcaster|}}
      <div class="col-xs-12 col-sm-3 p-0">
        {{#link-to "p" (lower-case broadcaster.username) title=broadcaster.username}}
          <div class="broadcaster-panel {{if broadcaster.onlineStatus "online" "offline"}}">
            <img class="broadcaster-avatar" src="{{if broadcaster.profilePhotoPath broadcaster.profilePhotoPath "/streamnails/usericon.svg"}}">
            <div class="broadcaster-footer">
              {{broadcaster.username}}
              {{#if broadcaster.onlineStatus}}
                <br>
                <div class="broadcaster-topic" title="{{broadcaster.channelTopic}}">
                  <small>{{broadcaster.channelTopic}}</small>
                </div>
              {{/if}}
              {{#if broadcaster.userCustomTags}}
                {{#tag-input
                  tags=broadcaster.userCustomTags
                  readOnly=true
                  as |tag|
                }}
                  {{tag}}
                {{/tag-input}}
              {{/if}}
            </div>
          </div>
        {{/link-to}}
      </div>
    {{else}}
      No results
    {{/each}}

  </div>

</div>
{{outlet}}
