<div class="container-fluid px-0">

  {{#if model.userPublicDatum.broadcaster}}
    {{!--- Video and Chat Row --}}
    <div class="row m-0 mb-3">
      <div class={{if gameIsActive "col-12 col-sm-8 p-0 m-0 mb-2 order-1"}}>
        <div class="row pt-1 m-0">
          <div class="col-8 pb-0">
            <h4 class="overflow-hidden">
              {{model.userPublicDatum.username}}
              {{#if model.userPublicDatum.onlineStatus}}
                <span title="Online" class="fa fa-video-camera pl-1"></span>
              {{/if}}
            </h4>
          </div>

          <div class="col-4 d-flex justify-content-end">
            {{#if (eq session.data.authenticated.username model.userPublicDatum.username)}}
              {{confirm-input button-title="Email Followers" title="Send email now?"
                onConfirm=(action "sendFollowerEmail")
              }}
            {{else}}
              <a href="/account/messages?toUser={{model.userPublicDatum.username}}" class="btn btn-link pb-0">
                <span title="Send Private Message" class="fs-1-5r fa fa-envelope"></span>
              </a>
            {{/if}}


            <!--  <button type="button" class="btn btn-link pb-0 collapsed" data-toggle="collapse" data-target="#share-form,#share-form2"><span title="Open Share Form" class="fs-1-5r fa fa-share-alt"></span></button>
            -->
            {{#if (eq session.data.authenticated.username model.userPublicDatum.username)}}
            {{else}}
              {{#if isFollowed}}
                <button type="button" class="btn btn-link pb-0 pl-2"> <span title="Unfollow {{model.userPublicDatum.username}}" class="fs-1-5r fa fa-bell" {{action "toggleFollow" model.userPublicDatum.userId}}></span></button>
              {{else}}
                <button type="button" class="btn btn-link pb-0 pl-2"> <span title="Follow {{model.userPublicDatum.username}}" class="fs-1-5r fa fa-bell-o" {{action "toggleFollow" model.userPublicDatum.userId}}></span></button>
              {{/if}}
            {{/if}}

          </div>
        </div>
        <!--
        <div class="row m-0 collapse px-2" id="share-form">
          <div class="col-xs-12 col-sm-8  px-0 pb-3">
            <div class="input-group justify-content-end">
              <h6 class="pr-2 pt-2"> Share this profile:</h6>
              <div class="btn-group " role="group">
                <a href="https://twitter.com/intent/tweet?text=Check+out+{{model.userPublicDatum.username}}+at+https://saber.tv/p/{{lower-case model.userPublicDatum.username}}" target="_blank" class="btn btn-primary" title="Twitter"><span
                    class="fa fa-twitter"></span></a>
                <a href="http://www.reddit.com/submit?url=https://saber.tv/p/{{lower-case model.userPublicDatum.username}}&title=Check+out+{{model.userPublicDatum.username}}+Live%21" target="_blank" class="btn btn-primary" title="Reddit"><span
                    class="fa fa-reddit-alien"></span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4  pr-0 pb-3">
            <div class="input-group w-100" {{action "copyUrlToClipboard"}}>
              <input type="text" autocomplete="off" class="form-control " id="urlDisplay" value="https://saber.tv/p/{{lower-case model.userPublicDatum.username}}">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="button">
                  <span id="copyUrlBtn" class={{if copiedNotification "fa fa-check" "fa fa-link"}}></span>
                </button>
              </div>
            </div>
          </div>
        </div>
-->
        <div class="card">
          <div class="card-body p-0">

            {{stream-player
              broadcasterUsername=model.userPublicDatum.username
              currentUserUsername=session.data.authenticated.username
              profilePhoto=model.userPublicDatum.profilePhotoPath
              isStreaming=isStreaming
              onlineStatus=model.userPublicDatum.onlineStatus
            }}
          </div>

          <div class="pt-1">
              <div name="tip-toolbar" class="btn-toolbar justify-content-between ml-2 mr-1" role="toolbar">

                  <div></div>

                {{#if model.userPublicDatum.allowTips}}





                  <div class="input-group d-flex">
                    <div class="input-group-prepend ">
                      <button class="btn btn-secondary border-0 px-2  h-2-5r" type="button" title="Tip Options" {{action "tipMenuToggle"}}>
                        <span class={{if tipMenuOpen "fa fa-chevron-right" "fa fa-bars"}}></span>
                      </button>
                    </div>
                    <div class={{if tipMenuOpen "d-none input-group-prepend h-2-5r" "d-flex input-group-prepend h-2-5r"}}>
                      <label class="btn btn-secondary px-2 h-2-5r">
                        {{radio-button value=10 id="tipAmount10" name=tipAmountOptions checked=tipAmountOptions}}
                        10
                      </label>
                      <label class="btn btn-secondary px-2 d-none d-sm-block h-2-5r ">
                        {{radio-button value=25 id="tipAmount25" name=tipAmountOptions checked=tipAmountOptions}}
                        25
                      </label>
                      <label class="btn btn-secondary px-2 h-2-5r">
                        {{radio-button value=50 id="tipAmount50" name=tipAmountOptions checked=tipAmountOptions}}
                        50
                      </label>
                      <label class="btn btn-secondary  px-2 d-none d-sm-block h-2-5r">
                        {{radio-button value=100 id="tipAmount100" name=tipAmountOptions checked=tipAmountOptions}}
                        100
                      </label>
                    </div>
                    <div class={{if tipMenuOpen "d-flex input-group-prepend" "d-none input-group-prepend"}}>
                      <div style="width:130px">
                        {{input type="number"  class="form-control" min="1" max="10000" step="1" value=tipAmountOptions }}
                      </div>
                      <div class="w-75">
                        {{input type="text" autocomplete="off" class="form-control" value=inputTipMessage placeholder="Chat note (optional)" }}
                      </div>
                    </div>
                    {{#if (eq currentUser.user.creditsRemaining 0)}}
                      <button {{action this.currentUser.openCreditDropdown}} class="btn btn-primary border-0 px-2 input-group-append h-2-5r" title="Tip">
                        Tip
                      </button>
                    {{else}}
                      {{confirm-input type="tip" title="Tip" titleDetail=this.tipAmountOptions titleEnd="?" button-title="Tip" onConfirm=(action "sendTip" tipAmountOptions)}}
                    {{/if}}
                  </div>
                {{else}}
                  <div></div>
                {{/if}}
              </div>
            {{/if}}
          </div>
        </div>


      </div>
      {{! Chat Window }}
      <div class={{if gameIsActive "col-12 col-sm-4 p-0 order-2" "col-12 col-sm-4 p-0 order-2"}}>
        {{chat-component
          chatChannel=(lower-case model.userPublicDatum.username)
          channelTopic=model.userPublicDatum.channelTopic
          model=model.userPublicDatum
          changeStreamState=(action "streamStateChange")
        }}
      </div>
    </div> {{! end video-row div}}

    <div class="row m-0">
      {{! Game Window }}
      <div class="col-12 col-sm-6 p-0 mt-4 order-3">
        <h4> Game Setup</h4>

        Coming Soon
      </div> {{! end game window}}

      <div class="col-12 col-sm-6 p-0 mt-4 order-4">
        {{!-- Photos Window --}}
        {{#if (eq session.data.authenticated.username model.userPublicDatum.username)}}
          {{edit-photos
            model=(mut (get model "userPublicUploads"))
            store=this.store
            profilePhotoPath=model.userPublicDatum.profilePhotoPath
            onProfileImageChanged=(action "profileImageChanged")
          }}
        {{/if}}
      <div class="col-12 p-2 horizontal-scroll">
        {{#each model.userPublicUploads as |upload|}}
          {{#if upload.fileUrl}}
            {{#light-box
              href=upload.fileUrl
              data-lightbox=model.userPublicDatum.username
              data-title=(concat model.userPublicDatum.username "'s images")
              data-alt="Test alt"
              data-class="image"
              inlineImage=false
            }}
              <img src="{{upload.fileUrlSmall}}" max-width="300" height="300">
            {{/light-box}}
          {{/if}}
        {{/each}}
      </div>

      </div>
    </div>


  {{/if}}
  <div class="row m-0 pt-4 pb-4">
    <div class="col-12 ">
      {{#if (eq session.data.authenticated.username model.userPublicDatum.username)}}

        <form autocomplete="off" {{action "submitProfileSettings" on="submit"}}>
          <div class="modal-body">
            {{#if currentUser.user.broadcaster}}
              <div class="form-group">
                <label for="inputaboutme">About Me</label>
                {{textarea rows="5" class="form-control" value=model.userPublicDatum.profileAboutMe
                    placeholder="A little about yourself, the type of games you like to play, your streaming schedule, etc."}}
              </div>
            {{else if currentUser.user.developer}}
              <div class="form-group">
                <label for="inputaboutme">About Me</label>
                {{textarea class="form-control" value=model.userPublicDatum.profileAboutMe
                    placeholder="A little about yourself and your games"}}
              </div>
            {{else}}
              <div class="form-group">
                <label for="inputaboutme">About Me</label>
                {{textarea class="form-control" value=model.userPublicDatum.profileAboutMe
                    placeholder="A little about yourself, your favorite games etc."}}
              </div>
            {{/if}}
            <div class="form-group">
              <label>Gender</label>
              <div class="form-inline">
                <div class="form-check pr-3">
                  <label class="form-check-label">
                    {{radio-button class="form-check-input" value='Female'
                        groupValue=tempGenderSelection checked=tempGenderSelection}}
                    Female
                  </label>
                </div>
                <div class="form-check pr-3">
                  <label class="form-check-label">
                    {{radio-button class="form-check-input" value='Male'
                        groupValue=tempGenderSelection checked=tempGenderSelection}}
                    Male
                  </label>
                </div>
                <div class="form-check pr-3">
                  <label class="form-check-label" {{action "checkOtherGender"}}>
                    {{radio-button class="form-check-input" value='Other'
                        groupValue=tempGenderSelection id="inputGenderOther" checked=tempGenderSelection}}
                    {{input type="text" class="form-control" spellcheck=false
                        value=tempGenderText placeholder="Other"}}
                  </label>
                </div>
                <div class="form-check pr-3">
                  <label class="form-check-label">
                    {{radio-button class="form-check-input" value='Hide'
                        groupValue=tempGenderSelection checked=tempGenderSelection}}
                    Hide
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputlocation">Location</label>
              {{input type="text" class="form-control" value=model.userPublicDatum.profileLocation
                  placeholder="Your general location" }}
            </div>
            <div class="form-group">
              <label for="inputLanguages">Languages</label>
              {{input type="text" class="form-control" value=model.userPublicDatum.profileLanguages
                  placeholder="I can speak..." }}
            </div>
            <div class="form-group">
              <label for="inputAge">Age</label>
              {{input type="number" min="0" max="100000" step="1" class="form-control"
                  value=model.userPublicDatum.profileAge }}
            </div>
            {{#if currentUser.user.broadcaster}}
              <div class="form-group ">
                <label>Tags (choose up to 15)</label>
                {{#tag-input
                    tags=model.userPublicDatum.userCustomTags
                    addTag=(action 'addTag')
                    removeTagAtIndex=(action 'removeTagAtIndex')
                    maxlength=20
                    placeholder = 'Add tags here'
                    as |tag|
                  }}
                  {{tag}}
                {{/tag-input}}
              </div>
            {{/if}}
            <br>
            {{confirm-input button-title="Revert Changes" title="Revert Changes?"
              onConfirm=(action "cancelProfileChanges" model.userPublicDatum)
            }}

            <div class="float-right">
              <button type="submit" class="btn btn-primary" id="profileSettingSubmit">
                Save
              </button>
            </div>
            <br>
          </div>
        </form>


      {{else}}

        <h4>About {{model.userPublicDatum.username}}:</h4>
        {{if model.userPublicDatum.profileAboutMe (break-lines model.userPublicDatum.profileAboutMe)}}
        <br>
        <br>
        {{#if model.userPublicDatum.profileAge}}
          <label>Age:</label>
          {{model.userPublicDatum.profileAge}}
          <br>
        {{/if}}
        {{#if model.userPublicDatum.profileGender}}
          {{#if (eq model.userPublicDatum.profileGender 'Hide')}}
          {{else}}
            <label>Gender:</label>
            {{model.userPublicDatum.profileGender}}
            <br>
          {{/if}}
        {{/if}}

        {{#if model.userPublicDatum.profileLocation}}
          <label>Location:</label>
          {{model.userPublicDatum.profileLocation}}
          <br>
        {{/if}}
        {{#if model.userPublicDatum.profileLanguages}}
          <label>Languages:</label>
          {{model.userPublicDatum.profileLanguages}}
          <br>
        {{/if}}

        {{#if model.userPublicDatum.broadcaster}}
          {{#if tags}}
            <div class="form-group">
              <label>Tags:</label>
              {{#tag-input
                tags=tags
                readOnly=true
                as |tag|
              }}
                {{tag}}
              {{/tag-input}}

            </div>
          {{/if}}
        {{/if}}

      {{/if}}




    </div>
  </div>
</div>

{{outlet}}
