
<br><br>
  <div class="row m-0">
      <div class="col-xs-12 col-sm-5 col-md-7">
        <form {{action "submitSignUp" on="submit"}}>
          <div class="form-group-sm">
            <label for="inputusername">Username</label>
            {{input type="text" class="form-control" value=inputusername }}
          </div>
          <br>
          <div class="form-group-sm">
            <label for="inputemailAddress">Email address</label>
            {{input type="email" class="form-control" value=inputemailAddress }}
          </div>
          <br>
          <div class="form-group">
              <label for="inputFullName">Full Name</label>
                {{input type="text" class="form-control" value=inputFullName }}
              </div>
          <br>
          <div class="form-group-sm">
            <label for="inputpassword">Password</label>
            {{input type="password" class="form-control" value=inputpassword }}

          </div>
          <br>
          <div class="form-group-sm">
            <label for="inputpasswordconfirm">Confirm Password</label>
            {{input type="password" class="form-control" value=inputpasswordconfirm }}
          </div>



          <button type="submit" class=" btn btn-primary btn-block" id="signupBtn" data-dismiss="modal">Sign me up!</button>

            <br><br>
  </form>

  </div>
    <div class="col-xs-12 col-sm-7 col-md-5">
      {{broadcaster-blurb}}
    </div>

</div>



{{outlet}}
