<div class="row m-0">
  <div class="col pb-2" >
    <h2>Help</h2>
  </div>
</div>
<div class="row m-0 " >
    <div class="col-xs-12 col-sm-4 p-0 px-4 ">
      <div class="sticky-top pt-3">
        {{#each model as |helpTopic|}}

          {{#if helpTopic.all}}
            <a href="#{{helpTopic.shortTitle}}" > <button class="btn btn-block btn-primary mb-2" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">{{helpTopic.title}}</button></a>
          {{/if}}

          {{#if loginState.isContracted}}
              {{#if helpTopic.isContractedOnly}}
                <a href="#{{helpTopic.shortTitle}}" > <button class="btn btn-block btn-primary mb-2" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">{{helpTopic.title}}</button></a>
              {{/if}}
          {{/if}}
          {{#if loginState.broadcaster}}
              {{#if helpTopic.broadcastersOnly}}
                <a href="#{{helpTopic.shortTitle}}" > <button class="btn btn-block btn-primary mb-2" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">{{helpTopic.title}}</button></a>
              {{/if}}
          {{/if}}
          {{#if loginState.developer}}
              {{#if helpTopic.developersOnly}}
                <a href="#{{helpTopic.shortTitle}}" > <button class="btn btn-block btn-primary mb-2" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">{{helpTopic.title}}</button></a>
              {{/if}}
            {{/if}}
        {{/each}}
        <div class="text-center pt-5 mt-5 d-none d-sm-block">
            Still need help?<br> Click below to send us a message.
            <a class="btn btn-primary mt-3" href="/contact" role="button">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 p-0 px-1 py-3">
      {{#each model as |helpTopic|}}

        {{#if helpTopic.all}}
            <div id="{{helpTopic.shortTitle}}">
                <div class="card mb-3">
                    <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">
                      <h4 class="card-title ">{{helpTopic.title}}</h4>
                    </div>
                    <div id="{{helpTopic.shortTitle}}Collapse" class="card-collapse collapse in">
                      <div class="card-body">
                       {{#each helpTopic.helpSections as |helpSections|}}
                          <h5>{{helpSections.sectionTitle}}</h5>
                          <div class="pb-4">
                            {{helpSections.sectionBody}}
                          </div>
                        {{/each}}
                      </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{#if loginState.isContracted}}
                {{#if helpTopic.isContractedOnly}}
                <div id="{{helpTopic.shortTitle}}">
                    <div class="card mb-3">
                        <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">
                          <h4 class="card-title ">{{helpTopic.title}}</h4>
                        </div>
                        <div id="{{helpTopic.shortTitle}}Collapse" class="card-collapse collapse in">
                          <div class="card-body">
                           {{#each helpTopic.helpSections as |helpSections|}}
                               <h5>{{helpSections.sectionTitle}}</h5>
                               <div class="pb-4">
                                 {{helpSections.sectionBody}}
                              </div>
                            {{/each}}
                          </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{#if loginState.broadcaster}}
            {{#if helpTopic.broadcastersOnly}}
            <div id="{{helpTopic.shortTitle}}">
                <div class="card mb-3">
                    <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">
                      <h4 class="card-title ">{{helpTopic.title}}</h4>
                    </div>
                    <div id="{{helpTopic.shortTitle}}Collapse" class="card-collapse collapse in">
                      <div class="card-body">
                       {{#each helpTopic.helpSections as |helpSections|}}
                           <h5>{{helpSections.sectionTitle}}</h5>
                           <div class="pb-4">
                             {{helpSections.sectionBody}}
                          </div>
                        {{/each}}
                      </div>
                    </div>
                </div>
            </div>

        {{/if}}
        {{/if}}
        {{#if loginState.developer}}
            {{#if helpTopic.developersOnly}}
            <div id="{{helpTopic.shortTitle}}">
                <div class="card mb-3">
                    <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{helpTopic.shortTitle}}" data-target="#{{helpTopic.shortTitle}}Collapse">
                      <h4 class="card-title ">{{helpTopic.title}}</h4>
                    </div>
                    <div id="{{helpTopic.shortTitle}}Collapse" class="card-collapse collapse in">
                      <div class="card-body">
                       {{#each helpTopic.helpSections as |helpSections|}}
                           <h5>{{helpSections.sectionTitle}}</h5>
                           <div class="pb-4">
                             {{helpSections.sectionBody}}
                          </div>
                        {{/each}}
                      </div>
                    </div>
                </div>
            </div>
            {{/if}}
          {{/if}}
      {{/each}}

    </div>
</div>
<div class="row m-0 d-block d-sm-none">
  <div class="col">
    <div class="text-center pt-5 mt-5 d-block d-sm-none">
        Still need help?<br> Click below to send us a message.<br>
        <a class="btn btn-primary mt-3" href="/contact" role="button">Contact Us</a>
    </div>
  </div>
</div>
{{outlet}}
