
{{age-gate}}
{{log-in}}
{{buy-credits}}
{{private-messenger}}

<nav class="navbar navbar-default" id="nav-bar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {{#if loginState.loggedIn}}
        <button  id="nav-links" type="button" style="border:none" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">       <span class="sr-only">Toggle navigation</span>
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
        </button>
      {{else}}
        <a  id="login-button" class="navbar-toggle collapsed visible-lg visible-md visible-sm visible-xs" role="button" data-toggle="modal" data-target="#loginModal"  aria-expanded="false" {{action "openlogin"}}>Log In</a>
      {{/if}}
        <a class="navbar-brand" id="nav-links" href="/">Fubar</a>
    </div>
    {{#if loginState.loggedIn}}
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav navbar-right" >
          <li><a  class="hidden-xs" role="button" id="nav-links"  data-toggle="modal" data-target="#buyCreditsModal" > <span  title="Buy Credits" class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span></a></li>
           <li><a class="hidden-xs"  href="/games" id="nav-links"> <span  title="Games" class="glyphicon glyphicon-tower" aria-hidden="true"></span></a></li>
           <li><a class="hidden-xs" href="/account" id="nav-links"> <span  title="Account Settings" class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
           <li class="hidden-xs dropdown">
             <a href="" id="nav-links" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span   title="Menu" class="glyphicon glyphicon-align-right" aria-hidden="true"></span></a>
               <ul class="dropdown-menu">
                 <li class="dropdown-header">Hi {{loginState.username}}</li>
                 <li><a href="/account/messages">My Messages&nbsp;&nbsp;<span class="badge">42</span></a></li>
                 <li><a href="/dashboard">My Dashboard</a></li>
                 <li><a href="/profile">My Profile</a></li>
                 <li><a href="/account">Account Settings</a></li>
                 <li role="separator" class="divider"></li>
                 <li><a href="/games">Games</a></li>
                 <li><a role="button" data-toggle="modal" data-target="#buyCreditsModal">Buy Credits</a></li>
                 <li role="separator" class="divider"></li>
                 <li><a role="button" {{action "logout"}}>Log Out</a></li>
               </ul>
           </li>
           <li class="visible-xs-block dropdown-header">Hi {{loginState.username}}</li>
           <li><a class="visible-xs-block" href="/account/messages">My Messages&nbsp;&nbsp;<span class="badge">42</span></a></li>
            <li><a class="visible-xs-block" href="/dashboard">My Dashboard</a></li>
            <li><a class="visible-xs-block" href="/profile">My Profile</a></li>
            <li><a class="visible-xs-block" href="/account">Account Settings</a></li>
            <li><a class="visible-xs-block" href="/games">Games</a></li>
            <li><a class="visible-xs-block" role="button" data-toggle="modal" data-target="#buyCreditsModal">Buy Credits</a></li>
            <li><a class="visible-xs-block" role="button" {{action "logout"}}>Log Out</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
      {{/if}}

</div><!-- /.container-fluid -->
</nav>

{{outlet}}
<div class="footer">
  <div class="container-fluid">

        <div class="row text-center">
          <div class="col-xs-12 col-sm-4">
            <ul  class="nav nav-pills nav-justified">
            <li><a id="footer-links" href="/contact">Contact Us</a></li>
          </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-push-4">
            <ul class="nav nav-pills nav-justified">

              {{#if loginState.loggedIn}}

              <li><a id="footer-links"  href="/account">Account Settings</a></li>
              {{else}}
              <li><a id="footer-links"  href="/signup">Sign Up</a></li>

              {{/if}}

            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-pull-4">
            <ul class="nav nav-pills nav-justified">
              <li><a id="footer-links" href="/terms">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-pills nav-justified">
              <li><a id="footer-links" href="/faq">Help</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-pills nav-justified">
              <li><a id="footer-links" href="/privacy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-pills nav-justified">

              {{#if loginState.loggedIn}}

              <li><a id="footer-links"  href="/account/broadcaster">Become a Broadcaster</a></li>
              {{else}}
              <li><a id="footer-links"  href="/signup/broadcaster">Become a Broadcaster</a></li>

              {{/if}}

            </ul>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12 col-sm-4 hidden-sm hidden-md hidden-lg">
            <ul class="nav nav-pills nav-justified">

              {{#if loginState.loggedIn}}

              <li><a id="footer-links"  href="/account/developer">Become a Developer</a></li>
              {{else}}
              <li><a id="footer-links"  href="/signup/developer">Become a Developer</a></li>

              {{/if}}
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 hidden-xs">
            <ul class="nav nav-pills nav-justified">
              <li><a id="footer-links" href="/">© 2016 Brand Inc</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-pills nav-justified">
              <li><a id="footer-links" href="/privacy">Legal Stuff</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 hidden-sm hidden-md hidden-lg">
            <ul class="nav nav-pills nav-justified">
              <li><a id="footer-links" href="/">© 2016 Brand Inc</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 hidden-xs">
            <ul class="nav nav-pills nav-justified">
                          {{#if loginState.loggedIn}}

                          <li><a id="footer-links"  href="/account/developer">Become a Developer</a></li>
                          {{else}}
                          <li><a id="footer-links"  href="/signup/developer">Become a Developer</a></li>

                          {{/if}}
            </ul>
          </div>
        </div>
  </div>
</div>
