
  <div class="row m-0">
    <div class="col" >
      <h2>Contact Us</h2>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-xs-12 col-md-8">
      <div class="well">
<form {{action "submitContactMessage" on="submit"}}>
        <div class="form-group">
          <label for="inputemailAddress">Email Address</label>
          {{input type="text" class="form-control" value=inputemailAddress }}

        </div>
        <div class="form-group">
          <label for="topic">Topic&nbsp;</label><br>
          {{#power-select
                selected=topicSelect
                id="topicSelect"
                options=topicList
                onchange=(action (mut topicSelect))
                oninput=(action "checkLength")
                as |name|}}
                {{name}}
              {{/power-select}}

        </div>
        <div class="form-group">
          <label for="inputSubject">Subject</label>
          {{input type="text" class="form-control" value=inputSubject }}
        </div>
        <div class="form-group">
          <label for="comment">Message</label>
          {{textarea rows="5" type="text" class="form-control" value=inputMessage }}
        </div>
        <br>
        <button type="submit" id="submitContactButton" class="btn btn-primary btn-block">Send Message</button>
        <br><br>
      </form>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 mt-4">
      <a class="btn btn-primary btn-block" href="/help" role="button">Browse Help Pages</a>
    </div>

  </div>


{{outlet}}
