
      <div class="row m-0">
        <div class ="col-xs-11 col-sm-6">
          <h4>Active Broadcasters</h4>
          <br>
        </div>
        <div class ="col-xs-11 col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Broadcasters">
            <span class="input-group-append">
              <button class="btn btn-primary" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
      <br>

      <div class="row m-0">
        {{#each model as |broadcaster|}}
          {{#if broadcaster.online}}
            <div class="col-xs-12 col-sm-3 p-0">
              <a href="/p/{{broadcaster.userid}}" title="{{broadcaster.username}}">
                <div class=" broadcaster-panel online">
                    <img  class="broadcaster-avatar" src={{broadcaster.photo}}>
                    <div class="broadcaster-footer">
                      {{broadcaster.username}}
                      <br>
                      <div class="broadcaster-topic">
                        "{{broadcaster.topic}}"
                      </div>
                    </div>
                  </div>
                </a>
            </div>
          {{/if}}
        {{/each}}
        {{#each model as |broadcaster|}}
          {{#if broadcaster.online}}
          {{else}}
          <div class="col-xs-12 col-sm-3  p-0">
            <a href="/p/{{broadcaster.userid}}" title="{{broadcaster.username}}">
              <div class=" broadcaster-panel offline">
                  <img  class="broadcaster-avatar" src={{broadcaster.photo}} >
                  <div class="broadcaster-footer">
                    {{broadcaster.username}}
                    <br>
                    <br>
                  </div>
                </div>
            </a>
          </div>
          {{/if}}
        {{/each}}
    </div>

{{outlet}}
