<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Home Page</h2>

      {{#if session.isAuthenticated}}
        logged in
      {{else}}
        not logged in
      {{/if}}

      <h4> It pages all the homes. placerat velit tempor sit amet. Suspendisse
        potenti. Morbi luctus iaculis quam ac euismod. Vivamus nec velit non ex
        sollicitudin ultricies. Nunc sed rhoncus turpis. Aenean molestie
        lobortis tincidunt. Ut sit amet gravida ligula, non ornare lectus.
        Suspendisse a nulla lectus.</h4>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      Something goes here
      <br>
      <br>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="well">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search For Peeps">
          <span class="input-group-btn">
            <button class="btn btn-default" {{action 'login'}} type="button">Search</button>
          </span>
        </div>
        <br>
          {{#each model as |broadcaster|}}
              <a href="/p/{{broadcaster.id}}" title="{{broadcaster.username}}"> <img src={{broadcaster.photo}} height="90px" width="160px"></a>
          {{/each}}

      </div>
    </div>
  </div>

</div>

{{outlet}}
