{{edit-photos}}
{{rules-modal}}
  <div class="row m-0">
    <div class ="col-xs-12 col-md-6" >
        <h4  id="usernameDisplay">
          {{model.username}}
        </h4>
   </div>
    <div class="col-xs-12 col-md-6 d-flex justify-content-end">
        <div class="btn-group">
         <button type="button" class="btn btn-link  collapsed" data-toggle="collapse" data-target="#share-form,#share-form2"><span title="Open Share Form"  class=" profile-links fa fa-share-alt"></span></button>
         {{#if isFavorite}}
           <button type="button" class="btn btn-link pl-2"> <span  title="Remove From Favorites" class=" profile-links fa fa-heart"{{action "toggleFav" model.user_id}}></span></button>
         {{else}}
         <button type="button" class="btn btn-link pl-2">  <span  title="Add to Favorites" class=" profile-links fa fa-heart-o" {{action "toggleFav" model.user_id}}></span></button>
         {{/if}}
         <button type="button" class="btn btn-link">  <span title="Send Message" class=" profile-links fa fa-envelope" ></span></button>
       </div>
    </div>

  </div>
  <div class="row m-0 collapse px-2" id="share-form">
        <div class="col-xs-12 col-sm-8  px-0 pb-3">
          <!-- Share Profile Menu -->
          <div class="input-group justify-content-end">

            <h6 class="pr-2 pt-2"> Share this profile:</h6>
            <div class="btn-group " role="group" >
              <a href="https://twitter.com/intent/tweet?text=Check+out+{{model.username}}+at+https://saber.tv/p/{{model.user_id}}" target="_blank" class="btn btn-primary" title="Twitter"><span class="fa fa-twitter"></span></a>
              <a href="http://www.reddit.com/submit?url=https://saber.tv/p/{{model.user_id}}&title=Check+out+{{model.username}}+Live%21" target="_blank"  class="btn btn-primary" title="Reddit"  ><span class="fa fa-reddit-alien"></span></a>
              <a href="http://www.tumblr.com/share/link?url=https://saber.tv/p/{{model.user_id}}" target="_blank" class="btn btn-primary" title="Tumblr" ><span class="fa fa-tumblr px-1"></span></a>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4  pr-0 pb-3">
          <div class="input-group w-100" {{action "copyUrlToClipboard"}}>
             <input type="text" autocomplete="off" class="form-control " id="urlDisplay" value="https://saber.tv/p/{{model.user_id}}">
             <div class="input-group-append">
               <button class="btn btn-primary btn-sm" type="button"><span id="copyUrlBtn" class="fa fa-link"></span></button>
             </div>
          </div>
      </div>
  </div>
      <!--- Video and Chat Panels -->
  <div class="row m-0 mb-4">
    <div class="col-12 col-sm-8 p-0 m-0 mb-2 order-1"  id="video-panel">
      <div class="card">
        <div class="card-body p-0" >
          <img src="/testimg.jpg"  class="img-responsive center-block" alt="default user video" width="100%">
        </div>
        <div class="profile-controls pt-1" id="profileControls">

              <div class="btn-toolbar justify-content-between" role="toolbar" >




                      <div class="input-group  d-flex " id="simple-tip-form">

                        <div class="input-group-prepend " >
                          <button class="btn btn-dark border-0 px-0 profile-buttons"  type="button"  title="Tip Options" {{action "tipToggle"}}><span class="fa fa-bars" id="tip-toggle" ></span></button>

                           <label class="btn btn-dark px-2">
                             {{radio-button value=10 id="tipAmount10" name=tipAmountOptions checked=tipAmountOptions}}
                               10
                           </label>
                           <label class="btn btn-dark px-2 d-none d-sm-block ">
                             {{radio-button value=25 id="tipAmount25" name=tipAmountOptions checked=tipAmountOptions}}
                               25
                           </label>
                           <label class="btn btn-dark px-2">
                             {{radio-button value=50 id="tipAmount50" name=tipAmountOptions checked=tipAmountOptions}}
                               50
                             </label>
                           <label class="btn btn-dark  px-2 d-none d-sm-block">
                             {{radio-button value=100 id="tipAmount100" name=tipAmountOptions checked=tipAmountOptions}}
                               100
                           </label>
                              </div>
                           <div class="input-group-append mr-1 profile-buttons"   >
                             <button class="btn btn-primary border-0" {{action "confirmTip" }}>Tip</button>
                         </div>

                    </div>

                  <div class=" justify-content-end d-none pt-2 pt-sm-0 pb-2" id="tip-form" >
                    <button class="btn btn-dark border-0 px-0 ml-1 profile-buttons"  type="button"  title="Tip Options" {{action "tipToggle"}}><span class="fa fa-bars" id="tip-toggle" ></span></button>

                      <div style="width:130px" >
                        {{input type="number" class="form-control" min="1" max="10000" value=tipAmountOptions }}
                      </div>
                      <div class="w-75" >
                      {{input type="text" autocomplete="off" class="form-control" value=inputTipMessage placeholder="Chat note (optional)" }}
                      </div>
                      <div class="input-group-append mr-1 ">
                        <div class="btn-group profile-buttons"  role="group" >
                          <button class="btn btn-primary border-0" {{action "confirmTip" }}>Tip</button>
                        </div>
                      </div>
                </div>
                <div class=" justify-content-end d-none pt-1 pt-sm-0 pb-2 mr-1 float-right" id="confirm-tip-form" >
                  <h5 class="pt-1 pr-2"> Tip {{tipAmountOptions}}<span class="fa fa-database" ></span> ?</h5>
                  <button class="btn btn-success border-0 mr-2" {{action "sendTip" }}><span class="fa fa-check"></span></button>
                  <button class="btn btn-danger border-0 " {{action "cancelTip" }}><span class="fa fa-times"></span></button>

                </div>
              </div>

        </div>
      </div>
      <div class=" d-none" id="game-options-panel">
        <div class="float-left btn-link"  title="Click to view rules and controls" data-toggle="modal" data-target="#rulesModal">
        Rules and Controls
        </div>
        <div class=" float-right btn-link"  title="End Game Now" {{action "endGame"}} >
          End Game
          </div>
      </div>

    </div>



    <!-- Chat Window -->

    <div class="col-12 col-sm-4 p-0 order-2" id="chat-panel">
      {{chat-component userJoined=model.username idJoined=model.userID}}
    </div>
    <!-- Game Window -->


      <div class="col-12 col-sm-6  p-0 mt-4 order-3" id="game-panel" >
        <div class="card" >
          <div class="card-body p-1 d-none" id="game-playing-panel">
            <object width="100%" height="400"   data="/game.swf"></object>

          </div>
          <div class="card-body p-1 d-none" id="game-suggestion-panel">
            <div class="row m-0 mb-2">
              <div class="col-12  px-2">


                <label for="inputGame">Select Game:</label>
                {{#power-select
                      selected=inputGame
                      id="inputGame"
                      options=gamesList
                      onchange=(action "setGame")
                      oninput=(action "checkLength")
                      as |name|}}
                      {{name}}
                {{/power-select}}

                <div class="form-group pt-2 ">
                  <label for="inputPrize">Prize: </label>
                  {{input type="text" class="form-control " value=inputPrize }}
                </div>
              </div>

            </div>
            <div class="row m-0 ">
              <div class="col-12 d-flex">
                <a  class="btn btn-link btn-block d-block" title="Cancel Suggestion" role="button" {{action "closeSuggestionPanel" }}>Cancel</a>

                  <button class="btn btn-primary ml-auto mt-1 d-block" title="Send Suggestion" >Send Suggestion</button>

              </div>

            </div>
          </div>


          <div class="card-body p-1 d-block" id="game-entry-panel">
            <div class="row m-0">
              <div class="col-xs-12 col-sm-8 px-2">

                      <div class=" justify-content-end d-none d-sm-none pt-1 pt-sm-0 pb-2 mr-1 float-right" id="confirm-join-game-form" >
                        <h5 class="pr-3 pt-1" >Join Game?</h5>

                          <button class="btn btn-success border-0 mr-2" {{action "joinGame" }}><span class="fa fa-check"></span></button>
                          <button class="btn btn-danger border-0 " {{action "cancelJoinGame" }}><span class="fa fa-times"></span></button>
                      </div>

                      <button  class="btn btn-primary float-right mt-1 d-block d-sm-none" title="Play Game" id="join-game-button"{{action "confirmJoinGame" }}>Play Game</button>



                    <h4 class="mt-1 mb-2">Quick Chess</h4>
                <b>If you win:</b> Pizza!
                <br>
                <b>Consolation Prize:</b> No Pizza :(
                <br>
                <b>Entry Fee:</b> 100Cr
                <br>
                <b>Number of Players:</b> 2
                <br>

              </div>

              <div class="text-center col-xs-12 col-sm-4 btn-link"  title="Click to view rules and controls" data-toggle="modal" data-target="#rulesModal" id="game-icon">
                <small class="d-sm-block d-none">Rules and Controls</small>
                <img src="/usericon.svg"  width="100px"  alt="Game Icon" >
                <small class="d-sm-none d-block">Rules and Controls</small>

              </div>


            </div>
            <div class="row m-0 ">
              <div class="col-12 d-flex">
                <div id="suggest-game-button" class="btn float-right btn-link" title="Suggest Game" {{action "openSuggestionPanel" }}>Suggest Game</div>

                <div class="d-none  ml-auto" id="confirm-join-game-form-sm" >
                    <h5 class="pr-3 pt-1" >Join Game?</h5>
                    <button class="btn btn-success border-0 mr-2" {{action "joinGame" }}><span class="fa fa-check"></span></button>
                    <button class="btn btn-danger border-0 " {{action "cancelJoinGame" }}><span class="fa fa-times"></span></button>
                </div>
                  <button id="join-game-button-sm" class="btn btn-primary ml-auto mr-3 mt-1 d-none d-sm-block" title="Play Game" {{action "confirmJoinGame" }}>Play Game</button>

              </div>

            </div>
          </div>
        </div>
      </div>


          <!-- Photos Window -->

          <div  class="col-12 col-sm-6 p-0 mt-4 order-4" id="photos-panel">
                <img src="/usericon.svg" height="200" width="200">
                <img src="/usericon.svg" height="200" width="200">
                <img src="/usericon.svg" height="200" width="200">
                <img src="/usericon.svg" height="200" width="200">
                <img src="/usericon.svg" height="200" width="200">
                <img src="/usericon.svg" height="200" width="200">
                <img src="/usericon.svg" height="200" width="200">

          </div>

  </div>


  <div class="row m-0">
            <div class="col-12 px-2">
              <div class="">

               <h4>About {{model.username}}:</h4>
               {{#if noAboutMe}}
               {{else}}
                  {{model.profileAboutMe}}
               {{/if}}
                <br>
                <br>
                {{#if noAge}}
                {{else}}
                  <label >Age:</label>
                  {{model.profileAge}}
                  <br>
                {{/if}}
                {{#if noSex}}
                {{else}}
                  <label >Sex:</label>
                  {{model.profileSex}}
                  <br>
                {{/if}}
                {{#if noLocation}}
                {{else}}
                  <label >Location:</label>
                  {{model.profileLocation}}
                  <br>
                {{/if}}
                {{#if noLanguage}}
                {{else}}
                <label >Languages:</label>
                {{model.profileLanguages}}
                <br>
                {{/if}}

                <div class="form-group">
                    <label >Tags:</label>
                      {{#tag-input
                          tags=tags
                          readOnly=true
                          as |tag|
                        }}
                          {{tag}}
                        {{/tag-input}}
                </div>
              </div>
            </div>
      </div>

{{outlet}}
