<div class="row m-0">
  <div class="col-xs-12 col-sm-5 col-md-7">
    {{error-display}}
    <form {{action "resetPassword" on="submit"}}>
      <h2>Reset your password</h2>
      <div class="form-group">
        <label>Password</label>
        {{input type="password" class="form-control" value=changedPassword required=true autocorrect=false autocomplete="new-password"}}
      </div>
      <div class="form-group">
        <label>Confirm password</label>
        {{input type="password" class="form-control" value=changedPasswordConfirm required=true autocorrect=false autocomplete="new-password"}}
      </div>
      <button type="submit" class="signup-button btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>

{{outlet}}
